/* 메인 */
main {}
/* 타이틀 */
main .title {padding: 24px 60px;}
main .title .cat {
    font-size: 0.625rem; color: #444;
    font-weight: 700;
}
main .title .title_quantity {display: flex; align-items: center;}
main .title .title_quantity h2 {
    margin-right: 8px;
    font-size: 2.25rem; font-weight: 700;
}
main .title .title_quantity span {
    color: #6e6e6e;
    font-size: 0.75rem; font-family: 'Roboto';
}
main .title .content {
    margin-top: 20px;
    font-family: 'Roboto'; color: #444; font-size: 0.875rem;
}
main .title .others {margin-top: 20px;}
main .title .others a {
    font-weight: 700; text-decoration: underline;
    font-family: 'Roboto'; font-size: 0.875rem;
}
main .title .others a::after {
    content: ''; display: inline-block;
    background: #000; height: 14px; width: 1px;
    margin: 0 3px;
}
/* 상품 */
main .product_page {
    display: flex; justify-content: space-between;
    padding: 0 60px;
}
main .product_page .filter {width: 240px; height: 807px;}
main .product_page .filter > a {
    width: 190px; padding: 26px 0;
    display: flex;
}
main .product_page .filter > a h2 {}
main .product_page .filter > a span {}
main .product_page .filter .sort_by {display: flex;}
main .product_page .filter .sort_by > a {
    width: 190px; padding: 24px 0;
}
main .product_page .filter .sort_by a h2 {}
main .product_page .filter .sort_by a img {}
main .product_page .filter .sort_by .select_sort {display: none;}
main .product_page .filter .sort_by .select_sort #sort_01 {}
main .product_page .filter .product_type {width: 190px; padding: 24px 0;}
main .product_page .filter .product_type a:first-child {display: flex;}
main .product_page .filter .product_type a h2 {}
main .product_page .filter .product_type a img {}
main .product_page .filter .product_type a:last-child {}
main .product_page .filter .size {width: 190px; padding: 24px 0;}
main .product_page .filter .size > a {display: flex;}
main .product_page .filter .size a h2 {}
main .product_page .filter .size a img {}
main .product_page .filter .size .select_size {display: none;}
main .product_page .filter .size .select_size a {}
main .product_page .filter .features {width: 190px; padding: 24px 0;}
main .product_page .filter .features a:first-child {display: flex;}
main .product_page .filter .features a h2 {}
main .product_page .filter .features a img {}
main .product_page .filter .features a:last-child {}
main .product_page .filter .fit {width: 190px; padding: 24px 0;}
main .product_page .filter .fit > a {display: flex;}
main .product_page .filter .fit a h2 {}
main .product_page .filter .fit a img {}
main .product_page .filter .fit .select_fit {display: none;}
main .product_page .filter .fit .select_fit a {}
main .product_page .filter .collection {width: 190px; padding: 24px 0;}
main .product_page .filter .collection > a {display: flex;}
main .product_page .filter .collection a h2 {}
main .product_page .filter .collection a img {}
main .product_page .filter .collection .select_collection {display: none;}
main .product_page .filter .collection .select_collection a {}
main .product_page .filter .color {width: 190px; padding: 24px 0;}
main .product_page .filter .color > a {display: flex;}
main .product_page .filter .color a h2 {}
main .product_page .filter .color a img {}
main .product_page .filter .color .select_color {display: none;}
main .product_page .filter .color .select_color a {}
main .product_page .filter .pattern {width: 190px; padding: 24px 0;}
main .product_page .filter .pattern a:first-child {display: flex;}
main .product_page .filter .pattern a h2 {}
main .product_page .filter .pattern a img {}
main .product_page .filter .pattern a:last-child {}
main .product_page .filter .discount {width: 190px; padding: 24px 0;}
main .product_page .filter .discount > a {display: flex;}
main .product_page .filter .discount a h2 {}
main .product_page .filter .discount a img {}
main .product_page .filter .discount .select_discount {display: none;}
main .product_page .filter .discount .select_discount a {}
main .product_page .filter .price {width: 190px; padding: 24px 0;}
main .product_page .filter .price > a {display: flex;}
main .product_page .filter .price a h2 {}
main .product_page .filter .price a img {}
main .product_page .filter .price .select_price {display: none;}
main .product_page .filter .price .select_price a {}
main .product_page .product {}