/* Firefox */
html {scrollbar-width: 10px;;scrollbar-color: #aaa;}
/* Opera */
html::-o-scrollbar {width: 10px; height: 7px;}/*스크롤바 크기*/
html::-o-scrollbar-thumb {background-color: #aaa;border-radius: 5px;}/*스크롤 드래그바*/
/* Chrome, Safari, Edge 등 웹킷 기반 브라우저 */
::-webkit-scrollbar {width: 10px; height: 7px;}/*스크롤바 크기*/
::-webkit-scrollbar-track {}/*스크롤바 배경*/
::-webkit-scrollbar-thumb {background-color: #aaa;border-radius: 5px;}/*스크롤 드래그바*/

/* 채팅 */
.chat {}
.chat #chatBtn {
    width: 50px; height: 50px; z-index: 9997;
    display: flex; justify-content: center; align-items: center;
    background-color: #000; border-radius: 50%;
    position: fixed; right: 60px; bottom: 60px;
    transition: 0.2s; border: none;
}
.chat #chatBtn img {
    width: 24px; transition: 0.5s;
}
.chat #chatBtn:hover {transform: scale(1.1);}
.chat .chat_box {
    transform: scale(0);
    width: 400px; height: 704px; z-index: 9997;
    background: #fff; border-radius: 10px;
    position: fixed; right: 60px; bottom: 120px;
    display: flex; flex-flow: column nowrap;
    justify-content: space-between;
    transition: 0.5s;
}
.chat .chat_box .home_box {
    border-radius: 10px; height: calc(100% - 80px);
}
.chat .chat_box .home_box .top {
    height: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #000; padding: 32px 36px 50px;
}
.chat .chat_box .home_box .top .logo {
    width: 190px; margin-bottom: 100px;
}
.chat .chat_box .home_box .top .logo img {
    width: 100%;
}
.chat .chat_box .home_box .top h2 {
    color: #d9d9d9; font-size: 2rem;
    font-family: 'Roboto'; font-weight: 700;
}
.chat .chat_box .home_box .top p {
    color: #fff; font-size: 2rem;
    font-family: 'Roboto'; font-weight: 700;
}
.chat .chat_box .home_box .bottom {
    position: relative; padding: 32px 36px 50px;
    height: 50%;
}
.chat .chat_box .home_box .bottom .help {
    padding: 8px; width: 368px;
    position: absolute; left: 50%; top: -30px;
    transform: translateX(-50%);
    border: 1px solid #eee; background: #fff;
    border-radius: 10px;
}
.chat .chat_box .home_box .bottom .help #helpSearchBtn {
    font-family: 'Roboto'; padding: 10px 20px;
    background: #f2f2f2; border-radius: 5px;
    font-size: 0.875rem; font-weight: 700; height: 40px;
    border: none; width: 100%; display: flex; margin-bottom: 10px;
    justify-content: space-between; align-items: center;
}
.chat .chat_box .home_box .bottom .help #helpSearchBtn:hover {
    background: rgba(0, 0, 0, 0.1);
}
.chat .chat_box .home_box .bottom .help #helpSearchBtn img {
    width: 16px;
}
.chat .chat_box .home_box .bottom .help .help_menu {
    padding: 8px 12px; transition: 0.5s;
    display: flex; justify-content: space-between;
    align-items: center;
}
.chat .chat_box .home_box .bottom .help .help_menu:hover {
    background: rgba(0, 0, 0, 0.1);
}
.chat .chat_box .home_box .bottom .help .help_menu span {
    font-family: 'Roboto'; font-size: 0.875rem;
}
.chat .chat_box .home_box .bottom .help .help_menu img {
    width: 16px;
}
.chat .chat_box .home_box .bottom .message {
    padding: 16px 20px; position: absolute; left: 50%; bottom: 65px;
    transform: translateX(-50%); width: 368px;
    border: 1px solid #eee; background: #fff;
    border-radius: 10px; align-items: center;
    display: flex; justify-content: space-between;
}
.chat .chat_box .home_box .bottom .message .left {
    display: flex; flex-flow: column nowrap;
}
.chat .chat_box .home_box .bottom .message .left span {
    font-family: 'Roboto'; font-size: 0.875rem;
    color: #737373;
}
.chat .chat_box .home_box .bottom .message .left span:nth-of-type(1) {
    font-weight: 700; color: #000;
}
.chat .chat_box .home_box .bottom .message .message_image {
    width: 16px;
}
.chat .chat_box .home_box .bottom .message .message_image img {
    width: 100%;
}
.chat .chat_box .message_box {
    height: calc(100% - 80px);
}
.chat .chat_box .message_box h2 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #000; color: #fff;
    padding: 8px; justify-content: center;
    font-weight: 700; height: 64px; display: flex;
    align-items: center;
}
.chat .chat_box .message_box .chat_message {
    height: 500px; border-radius: 10px;
    padding: 10px;
    overflow-x: hidden; overflow-y: auto;
}
.chat .chat_box .message_box .chat_message .message {
    border: 1px solid #2f2f2f; color: #000;
    border-radius: 5px; padding: 10px 15px;
    margin-bottom: 5px; display: block;
    font-size: 0.875rem; font-family: 'Roboto';
}
.chat .chat_box .message_box .user_message {
    display: flex; justify-content: space-between;
    padding: 0 10px; margin-bottom: 20px;
}
.chat .chat_box .message_box .user_message .user_text {
    font-family: 'Roboto'; width: 300px;
    background: #f5f5f5; border: none;
    font-size: 0.875rem; padding: 0 10px;
    border-radius: 5px;
}
.chat .chat_box .message_box .user_message .user_text:hover {
    filter: brightness(90%);
}
.chat .chat_box .message_box .user_message #sendBtn {
    font-family: 'Roboto'; background: #000;
    color: #fff; border: none; padding: 10px;
    border-radius: 5px; font-size: 0.875rem;
}
.chat .chat_box .message_box .user_message #sendBtn:hover {
    filter: brightness(120%);
}
.chat .chat_box .help_box {
    height: calc(100% - 80px);
}
.chat .chat_box .help_box .top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #000; padding: 8px;
    height: 117px; display: flex; flex-flow: column nowrap;
    justify-content: space-between;
}
.chat .chat_box .help_box .top h2 {
    color: #fff; font-size: 1.125rem;
    font-weight: 700; text-align: center;
    padding: 8px 4px;
}
.chat .chat_box .help_box .top input {
    padding: 11.5px 10px; font-size: 0.875rem;
    color: #737373; font-family: 'Roboto';
    border-radius: 10px; width: 100%; height: 41px;
    border: none;
}
.chat .chat_box .help_box .bottom {
    overflow-y: scroll; height: 500px;
}
.chat .chat_box .help_box .bottom h3 {
    padding: 16px 20px; font-family: 'Roboto';
    font-weight: 700;
}
.chat .chat_box .help_box .bottom .collections {
    padding: 16px 20px; display: flex; height: 78px;
    justify-content: space-between; align-items: center;
    border-top: 1px solid #eee; transition: 0.5s;
}
.chat .chat_box .help_box .bottom .collections:hover {
    background: rgba(0, 0, 0, 0.1);
}
.chat .chat_box .help_box .bottom .collections .left {
    display: flex; flex-flow: column nowrap;
}
.chat .chat_box .help_box .bottom .collections .left span:nth-of-type(1) {
    font-size: 0.875rem; font-weight: 700;
    font-family: 'Roboto'; margin-bottom: 4px;
}
.chat .chat_box .help_box .bottom .collections .left span:nth-of-type(2) {
    font-size: 0.875rem; color: #737373;
    font-family: 'Roboto';
}
.chat .chat_box .help_box .bottom .collections .collections_image {}
.chat .chat_box .help_box .bottom .collections .collections_image img {}
.chat .chat_box .menu {
    width: 100%; display: flex;
    height: 80px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.chat .chat_box .menu button {
    width: calc(100% / 3);
    border: none; display: flex; align-items: center;
    justify-content: center; flex-flow: column nowrap;
}
.chat .chat_box .menu button span {
    font-size: 0.875rem; color: #1a1a1a;
    font-family: 'Roboto'; margin-top: 5px;
}
.chat .chat_box .menu #homeBtn {
    padding: 18px 3px;
    border-bottom-left-radius: 10px;
}
.chat .chat_box .menu #homeBtn img {}
.chat .chat_box .menu #messageBtn {
    padding: 18px 3px;
}
.chat .chat_box .menu #messageBtn img {}
.chat .chat_box .menu #helpBtn {
    padding: 18px 3px;
    border-bottom-right-radius: 10px;
}
.chat .chat_box .menu #helpBtn img {}

/* 팝업 */
.popup {
    height: 65px; padding: 0 16px;
    background-color: #000; z-index: 9999;
    position: sticky; top: 0;
    display: flex; justify-content: center; align-items: center;
}
.popup #lang_frm {}
.popup #lang_frm fieldset {
    display: flex; justify-content: center; align-items: center;
    border: none;
}
.popup #lang_frm fieldset p {
    margin-right: 40px; font-size: 0.875rem;
    color: #fff; font-weight: 700;
}
.popup #lang_frm fieldset .lang_sel {display: flex; justify-content: space-between; align-items: center;}
.popup #lang_frm fieldset .lang_sel .lang_left {
    width: 135px; height: 33px; margin-right: 15px;
}
.popup #lang_frm fieldset .lang_sel .lang_left > a {
    padding: 1px 6px;
    width: 100%; height: 100%; justify-content: center;
    display: flex; align-items: center;
    font-size: 0.875rem; font-family: 'Roboto';
    border-radius: 5px; position: relative;
    background-color: #2c2c2e; color: #fff; border: 1px solid #000;
}
.popup #lang_frm fieldset .lang_sel .lang_left > a:hover {border: 1px solid #fff;}
.popup #lang_frm fieldset .lang_sel .lang_left > a img:nth-of-type(1) {
    width: 16px; margin-right: 10px;
}
/* ROW 버튼 클릭 시 more 나옴 */
.popup #lang_frm fieldset .lang_sel .lang_left > a .more {
    display: none; position: absolute; right: 5px;
}
.popup #lang_frm fieldset .lang_sel .lang_left .lang {display: none;}
.popup #lang_frm fieldset .lang_sel .lang_left .lang li {}
.popup #lang_frm fieldset .lang_sel .lang_left .lang li a {}
.popup #lang_frm fieldset .lang_sel .lang_left .lang li a img {}
.popup #lang_frm fieldset .lang_sel span {
    text-align: center;
    color: #fff; font-weight: 500;
}
.popup #lang_frm fieldset .lang_sel .lang_right {
    width: 135px; height: 33px; margin-left: 15px;
}
.popup #lang_frm fieldset .lang_sel .lang_right > a {
    padding: 1px 6px;
    width: 100%; height: 100%;
    display: flex; align-items: center; justify-content: center;
    font-size: 0.875rem; font-family: 'Roboto';
    border-radius: 5px;
    background-color: #2c2c2e; color: #fff; border: 1px solid #000;
}
.popup #lang_frm fieldset .lang_sel .lang_right > a:hover {border: 1px solid #fff;}
.popup #lang_frm fieldset .lang_sel .lang_right a img {margin-right: 10px;}
/* ROW 버튼 클릭 시 ENGLISH로 변함 */
.popup #lang_frm fieldset .lang_sel .lang_right span {display: none;}
.popup #lang_frm fieldset #lang_sub {
    padding: 8px 15px; margin-left: 30px;
    font-size: 0.875rem; font-weight: 700; color: #6e6e6e;
    border: none; border-radius: 20px;
}
.popup .close {
    width: 24px;
    position: absolute; right: 16px;
}
.popup .close img {width: 100%;}

/* 태블릿 및 모바일 메뉴 창 */
.menu_m {
    width: 100%; height: 768px;
    position: absolute; top: 151px; left: -100%;
    z-index: 9998; background-color: #fff;
    transition: 0.5s;
}
.menu_m .header_m {
    height: 194px; padding: 16px 16px 22px;
    display: flex; flex-flow: column nowrap; justify-content: space-between;
    background-color: #fff; box-shadow: 0 10px 10px 0 #f5f5f5;
}
.menu_m .header_m .top_m {
    display: flex; justify-content: space-between;
}
.menu_m .header_m .top_m .left_m {display: flex;}
.menu_m .header_m .top_m .left_m > a {}
.menu_m .header_m .top_m .left_m > a img {}
.menu_m .header_m .top_m .left_m .lang_m {position: relative;}
.menu_m .header_m .top_m .left_m .lang_m > a {
    margin: 0; padding-left: 10px;
    font-family: 'Roboto';
    display: flex; align-items: center;
    font-size: 0.875rem; color: #53565a; letter-spacing: -0.5px;
}
.menu_m .header_m .top_m.left_m .lang_m > a img:nth-of-type(1) {
    width: 16px; margin-right: 10px;
}
.menu_m .header_m .top_m .left_m .lang_m .lang {
    display: none;
    width: 250px; height: 300px;
    background-color: #fff; border-radius: 10px;
    position: absolute; top: 0;
    overflow-y: auto;
}
.menu_m .header_m .top_m.left_m .lang_m .lang li {padding: 20px 15px;}
.menu_m .header_m .top_m .left_m .lang_m .lang li a {
    display: flex; align-items: center;
    font-size: 0.875rem;
}
.menu_m .header_m .top_m .left_m .lang_m .lang li a img {width: 16px; margin-right: 10px;}
.menu_m .header_m .top_m > a {}
.menu_m .header_m .top_m > a img {}
.menu_m .header_m h2 {font-size: 1.25rem; font-weight: 700;}
.menu_m .header_m #search_frm_m {}
.menu_m .header_m #search_frm_m fieldset {
    padding: 12px 16px; border-radius: 5px;
    border: none; background-color: #f5f5f5;
    height: 53px;
}
.menu_m .header_m #search_frm_m fieldset:hover {
    background: #e7e7e7;
}
.menu_m .header_m #search_frm_m fieldset .user_search {
    border: none; background: none; width: 100%;
    height: 100%;
    font-size: 0.875rem; font-family: 'Roboto';
}
.menu_m .main_m {
    background: #fff;
}
.menu_m .main_m nav {}
.menu_m .main_m nav .gnb_m {
    padding: 0 16px;
    display: flex; justify-content: center;
}
.menu_m .main_m nav .gnb_m li {margin: 0 15px; padding: 11px 4px 14px;}
.menu_m .main_m nav .gnb_m li a {font-weight: 700; font-size: 0.875rem;}
.menu_m .main_m nav .image {
    padding: 24px 16px;
    background-color: #f5f5f5; display: flex;
}
.menu_m .main_m nav .image .photo {
    position: relative; width: 100%;
}
.menu_m .main_m nav .image .photo a {
    width: 100%;
}
.menu_m .main_m nav .image .photo a img {
    border-radius: 5px; width: 100%;
}
.menu_m .main_m nav .image .photo span {
    color: #fff; font-weight: 700;
    position: absolute; left: 10px; bottom: 20px;
}
.menu_m .main_m nav .category {padding: 0 16px;}
.menu_m .main_m nav .category a {
    padding: 24px 0; display: block;
    font-weight: 700; font-size: 0.875rem;
    border-bottom: 1px solid #ebebeb;
}
.menu_m .main_m nav .category a:last-child {border: none;}
.menu_m .main_m nav .category a img {float: right;}
.menu_m .main_m nav .category_acc {padding: 0 16px;}
.menu_m .main_m nav .category_acc a {
    padding: 24px 0; display: block;
    font-weight: 700; font-size: 0.875rem;
    border-bottom: 1px solid #ebebeb;
}
.menu_m .main_m nav .category_acc a:last-child {border: none;}
.menu_m .main_m nav .category_acc a img {float: right;}
.menu_m .main_m nav .bottom_m {
    background-color: #f5f5f5;
    padding: 16px;
}
.menu_m .main_m nav .bottom_m h3 {
    margin-bottom: 8px;
    font-size: 0.75rem; font-weight: 700;
}
.menu_m .main_m nav .bottom_m a {
    display: block; margin-bottom: 8px;
    font-family: 'Roboto'; font-weight: 500;
    font-size: 0.875rem; color: #53565a;
}

/* 태블릿 및 모바일 검색 페이지 */
.search_m {
    width: 100%; height: 919px; position: absolute;
    left: -100%; top: 151px; background: #fff;
    z-index: 9998; transition: 0.5s;
}
.search_m .search {
    height: 76px; display: flex; padding: 16px;
    justify-content: space-between; align-items: center;
}
.search_m .search > a {
    width: 27px; margin-right: 12px;
}
.search_m .search > a img {
    width: 100%;
}
.search_m .search #search_m_frm {
    width: 100%;
}
.search_m .search #search_m_frm fieldset {
    border: none; position: relative;
    width: 100%;
}
.search_m .search #search_m_frm fieldset img {
    position: absolute; width: 20px; top: 10px;
    left: 10px;
}
.search_m .search #search_m_frm fieldset .user_search {
    background: #f5f5f5; width: 100%;
    padding: 0 36px 0 43px; height: 44px;
    border-radius: 5px; border: none;
    font-size: 0.875rem; font-family: 'Roboto';
}
.search_m .trending_searches {
    max-width: 1000px; margin: 0 auto;
    padding: 20px 0 16px 16px;
}
.search_m .trending_searches h3 {
    margin-bottom: 20px;
    font-size: 0.875rem; font-weight: 700;
}
.search_m .trending_searches .algorithm {
    display: flex; align-items: center;
}
.search_m .trending_searches .algorithm img {
    width: 30px; margin: 0 8px 8px 0;
}
.search_m .trending_searches .algorithm a {
    padding: 10px; margin: 0 8px 8px 0;
    font-size: 0.75rem; font-weight: 700; font-family: 'Roboto';
    background-color: #f5f5f5; border-radius: 5px;
}

/* 장바구니 담김 페이지 */
.cart_bg_active {
    width: 100%; height: 100vh; z-index: 9998;
    position: fixed; left: 0; top: 0;
    background-color: rgba(1, 1, 1, 0.8);
    transition: 0.5s; opacity: 0;
}
.cart_bg_active .cart_page {
    width: 500px; height: 100vh; text-align: center;
    display: flex; flex-flow: column nowrap;
    justify-content: space-between; align-items: center;
    background-color: #fff; transition: 0.5s;
    position: absolute; right: 0;
}
.cart_bg_active .cart_page #closeBtn {
    position: absolute; border: none;
    background: none; right: 20px; top: 20px;
}
.cart_bg_active .cart_page h2 {
    font-weight: 700; font-size: 0.875rem;
    padding: 24px 16px;
}
.cart_bg_active .cart_page .cart_status {}
.cart_bg_active .cart_page .cart_status .status_bar {
    margin: 18px 32px 16px; width: 436px;
    background: #ebebeb; height: 5px;
    position: relative;
}
.cart_bg_active .cart_page .cart_status .status_bar::before {
    width: 200px; height: 5px; content: '';
    display: inline-block; background: #007db5;
    position: absolute; left: 0;
}
.cart_bg_active .cart_page .cart_status > p {
    color: #444; font-family: 'Roboto';
    margin-bottom: 16px;
}
.cart_bg_active .cart_page .cart_status .cart_product {
    display: flex; justify-content: space-between;
    padding: 0 32px;
}
.cart_bg_active .cart_page .cart_status .cart_product .photo {
    width: 124px;
}
.cart_bg_active .cart_page .cart_status .cart_product .photo img {
    width: 100%;
}
.cart_bg_active .cart_page .cart_status .cart_product .product_info {}
.cart_bg_active .cart_page .cart_status .cart_product .product_info .new {
    padding: 5px 8px; font-weight: 700; font-family: 'Roboto';
    background: #f5f5f5; font-size: 0.75rem;
    display: inline-block; border-radius: 5px;
}
.cart_bg_active .cart_page .cart_status .cart_product .product_info .name {
    color: #1b1b1b; font-family: 'Roboto';
}
.cart_bg_active .cart_page .cart_status .cart_product .product_info .fit {
    font-family: 'Roboto'; font-size: 0.875rem;
    color: #53565a;
}
.cart_bg_active .cart_page .cart_status .cart_product .product_info .color {
    font-family: 'Roboto'; font-size: 0.875rem;
    color: #53565a;
}
.cart_bg_active .cart_page .cart_status .cart_product .product_info .price {
    font-family: 'Roboto'; font-weight: 700;
}
.cart_bg_active .cart_page .cart_status .cart_product .product_info .icon_number {
    display: flex; justify-content: space-between;
}
.cart_bg_active .cart_page .cart_status .cart_product .product_info .icon_number .icon {
    display: flex;
}
.cart_bg_active .cart_page .cart_status .cart_product .product_info .icon_number .icon a {
    width: 36px; height: 36px; border-radius: 50%;
    background: #f5f5f5; padding: 6px;
    display: flex; justify-content: center; align-items: center;
}
.cart_bg_active .cart_page .cart_status .cart_product .product_info .icon_number .icon a img {
    width: 24px;
}
.cart_bg_active .cart_page .cart_status .cart_product .product_info .icon_number .number {}
.cart_bg_active .cart_page .cart_status .cart_product .product_info .icon_number .number #minusBtn {}
.cart_bg_active .cart_page .cart_status .cart_product .product_info .icon_number .number #plusBtn {}
.cart_bg_active .cart_page .cart_status .cart_product .product_info .icon_number .number #numInput {}
.cart_bg_active .cart_page .cart_button {
    padding: 24px; width: 100%;
}
.cart_bg_active .cart_page .cart_button #buyBtn {
    padding: 12.5px 32px; margin-bottom: 8px; border: none;
    height: 44px; display: flex;
    align-items: center; justify-content: center;
    border-radius: 50px; color: #fff; font-weight: 700;
    background: #007db5; width: 100%; font-size: 0.875rem;
}
.cart_bg_active .cart_page .cart_button #buyBtn:hover {
    filter: brightness(90%);
}
.cart_bg_active .cart_page .cart_button #buyBtn img {
    width: 16px; margin-right: 10px;
}
.cart_bg_active .cart_page .cart_button #viewBtn {
    padding: 12.5px 32px; margin-bottom: 8px; border: none;
    height: 44px;
    border-radius: 50px; color: #fff; font-weight: 700;
    background: #53565a; width: 100%; font-size: 0.875rem;
}
.cart_bg_active .cart_page .cart_button #viewBtn:hover {
    filter: brightness(120%);
}

/* header */
header {
    position: sticky; top: 65px;
    z-index: 9996; transition: 0.5s;
}
/* header top */
header .top {
    height: 35px; padding: 0 60px;
    background-color: #ebebeb;
    display: flex; justify-content: flex-end; align-items: center;
    position: relative;
}
header .top > a {
    height: 100%; padding: 0 10px;
    display: flex; align-items: center;
    font-size: 0.875rem; color: #53565a; font-family: 'Roboto', sans-serif;
    border-right: 1px solid #aaa;
}
header .top > a:hover {color: #000;}
header .top > a:nth-of-type(6) {
    border: none;
}
header .top > a .account {width: 13px; margin-right: 8px;}
header .top > a img {width: 16px; margin-right: 5px;}
header .top > a .more {
    width: 12px; margin-left: 5px;
    transition: 0.5s;
}
/* ROW 클릭 시 목록 나옴 */
header .top .lang {
    width: 250px; height: 300px; z-index: 1;
    background-color: #fff; border-radius: 10px;
    padding: 10px;
    position: absolute; right: 70px; top: 40px;
    overflow-y: auto;
}
header .top .lang li {
    padding: 20px 15px;
    border-radius: 5px;
}
header .top .lang li:hover {background-color: #000;}
header .top .lang li:hover a {
    color: #fff;
}
header .top .lang li a {
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
header .top .lang li a img {width: 16px; margin-right: 10px;}
/* header bottom */
header .bottom {
    height: 69px; padding: 0 60px; position: relative;
    background-color: #fff; border-bottom: 1px solid #ddd;
    display: flex; justify-content: space-between; align-items: center;
}
/* left icon */
/* 태블릿 및 모바일 용 */
header .bottom .left_icon {display: none;}
header .bottom .left_icon a {margin: 0 12px;}
header .bottom .left_icon a img {width: 23px;}
header .bottom h1 {width: 46px;}
header .bottom h1 a {
    width: 100%;
    display: flex; justify-content: center; align-items: center;
}
header .bottom h1 a img {width: 100%;}
/* nav */
header .bottom nav {
    position: absolute; left: 50%;
    transform: translateX(-50%);
}
header .bottom nav .gnb {}
header .bottom nav .gnb > li {display: inline-block;}
header .bottom nav .gnb > li > a {
    padding: 0 20px; line-height: 68px;
    font-weight: 700; font-size: 0.875rem;
    display: inline-block;
}
/* nav 라인 생성 */
header .bottom nav .gnb > li > a::after {
    content: ''; background: #000;
    display: block; width: 100%; height: 2px;
    transition: transform 0.2s; transform: scaleX(0);
}
header .bottom nav .gnb > li > a:hover::after {transform: scaleX(1);}
/* lnb_categroy_wrap */
header .bottom .lnb_category_wrap {z-index: 9999;}
/* nav women category */
header .bottom .lnb_category_wrap .women_bg{
    width: 100%; height: 100vh; opacity: 0;
    position: absolute; top: 69px; left: 0;
    background-color: rgba(1, 1, 1, 0.8);
    transition: 0.5s;
}
header .bottom .lnb_category_wrap .women_bg .women_category {
    background-color: #fff; height: 500px;
    display: flex; justify-content: space-between;
}
header .bottom .lnb_category_wrap .women_bg .women_category .left {
    margin: 30px auto 0;
    display: flex;
}
header .bottom .lnb_category_wrap .women_bg .women_category .left ul {margin-right: 50px;}
header .bottom .lnb_category_wrap .women_bg .women_category .left ul li {margin-bottom: 5px;}
header .bottom .lnb_category_wrap .women_bg .women_category .left ul li h3 {font-size: 0.875rem; font-weight: 700;}
header .bottom .lnb_category_wrap .women_bg .women_category .left ul li a {
    font-size: 0.875rem; color: #6e6e6e; font-weight: 500; font-family: 'Roboto';
}
header .bottom .lnb_category_wrap .women_bg .women_category .left ul li a:hover {color: #000;}
header .bottom .lnb_category_wrap .women_bg .women_category .right {
    background-color: #f5f5f5; width: 350px; padding: 60px 40px;
}
header .bottom .lnb_category_wrap .women_bg .women_category .right .featured {}
header .bottom .lnb_category_wrap .women_bg .women_category .right .featured h3 {
    margin-bottom: 15px;
    font-size: 0.875rem; font-weight: 700;
}
header .bottom .lnb_category_wrap .women_bg .women_category .right .featured .f_top {position: relative;}
header .bottom .lnb_category_wrap .women_bg .women_category .right .featured .f_top a {width: 200px;}
header .bottom .lnb_category_wrap .women_bg .women_category .right .featured .f_top a img {width: 100%; border-radius: 5px;}
header .bottom .lnb_category_wrap .women_bg .women_category .right .featured .f_top span {
    font-weight: 700; color: #fff;
    position: absolute; left: 10px; bottom: 20px;
}
header .bottom .lnb_category_wrap .women_bg .women_category .right .featured .f_bottom {position: relative;}
header .bottom .lnb_category_wrap .women_bg .women_category .right .featured .f_bottom a {width: 200px;}
header .bottom .lnb_category_wrap .women_bg .women_category .right .featured .f_bottom a img {width: 100%; border-radius: 5px;}
header .bottom .lnb_category_wrap .women_bg .women_category .right .featured .f_bottom span {
    font-weight: 700; color: #fff;
    position: absolute; left: 10px; bottom: 20px;
}
/* nav men category */
header .bottom .lnb_category_wrap .men_bg{
    width: 100%; height: 100vh; opacity: 0;
    position: absolute; top: 69px; left: 0;
    background-color: rgba(1, 1, 1, 0.8);
    transition: 0.5s;
}
header .bottom .lnb_category_wrap .men_bg .men_category {
    background-color: #fff; height: 500px;
    display: flex; justify-content: space-between;
}
header .bottom .lnb_category_wrap .men_category .left {
    margin: 30px auto 0;
    display: flex;
}
header .bottom .lnb_category_wrap .men_category .left ul {margin-right: 50px;}
header .bottom .lnb_category_wrap .men_category .left ul li {margin-bottom: 5px;}
header .bottom .lnb_category_wrap .men_category .left ul li h3 {font-size: 0.875rem; font-weight: 700;}
header .bottom .lnb_category_wrap .men_category .left ul li a {
    font-size: 0.875rem; color: #6e6e6e; font-weight: 500; font-family: 'Roboto';
}
header .bottom .lnb_category_wrap .men_category .left ul li a:hover {color: #000;}
header .bottom .lnb_category_wrap .men_category .right {
    background-color: #f5f5f5; width: 350px; padding: 60px 40px;
}
header .bottom .lnb_category_wrap .men_category .right .featured {}
header .bottom .lnb_category_wrap .men_category .right .featured h3 {
    margin-bottom: 15px;
    font-size: 0.875rem; font-weight: 700;
}
header .bottom .lnb_category_wrap .men_category .right .featured .f_top {position: relative;}
header .bottom .lnb_category_wrap .men_category .right .featured .f_top a {width: 200px;}
header .bottom .lnb_category_wrap .men_category .right .featured .f_top a img {width: 100%; border-radius: 5px;}
header .bottom .lnb_category_wrap .men_category .right .featured .f_top span {
    font-weight: 700; color: #fff;
    position: absolute; left: 10px; bottom: 20px;
}
header .bottom .lnb_category_wrap .men_category .right .featured .f_bottom {position: relative;}
header .bottom .lnb_category_wrap .men_category .right .featured .f_bottom a {width: 200px;}
header .bottom .lnb_category_wrap .men_category .right .featured .f_bottom a img {width: 100%; border-radius: 5px;}
header .bottom .lnb_category_wrap .men_category .right .featured .f_bottom span {
    font-weight: 700; color: #fff;
    position: absolute; left: 10px; bottom: 20px;
}
/* nav acc category */
header .bottom .lnb_category_wrap .acc_bg{
    width: 100%; height: 100vh; opacity: 0;
    position: absolute; top: 69px; left: 0;
    background-color: rgba(1, 1, 1, 0.8);
    transition: 0.5s;
}
header .bottom .lnb_category_wrap .acc_bg .acc_category {
    background-color: #fff; height: 500px;
    display: flex; justify-content: space-between;
}
header .bottom .lnb_category_wrap .acc_category .left {
    margin: 30px auto 0; max-width: 700px;
    display: flex; flex-flow: row wrap;
}
header .bottom .lnb_category_wrap .acc_category .left ul {margin-right: 50px;}
header .bottom .lnb_category_wrap .acc_category .left ul li {margin-bottom: 5px;}
header .bottom .lnb_category_wrap .acc_category .left ul li h3 {font-size: 0.875rem; font-weight: 700;}
header .bottom .lnb_category_wrap .acc_category .left ul li a {
    font-size: 0.875rem; color: #6e6e6e; font-weight: 500; font-family: 'Roboto';
}
header .bottom .lnb_category_wrap .acc_category .left ul li a:hover {color: #000;}
header .bottom .lnb_category_wrap .acc_category .right {
    background-color: #f5f5f5; width: 350px; padding: 60px 40px;
}
header .bottom .lnb_category_wrap .acc_category .right .featured {}
header .bottom .lnb_category_wrap .acc_category .right .featured h3 {
    margin-bottom: 15px;
    font-size: 0.875rem; font-weight: 700;
}
header .bottom .lnb_category_wrap .acc_category .right .featured .f_bottom {position: relative;}
header .bottom .lnb_category_wrap .acc_category .right .featured .f_bottom a {width: 200px;}
header .bottom .lnb_category_wrap .acc_category .right .featured .f_bottom a img {width: 100%; border-radius: 5px;}
header .bottom .lnb_category_wrap .acc_category .right .featured .f_bottom span {
    font-weight: 700; color: #fff;
    position: absolute; left: 10px; bottom: 20px;
}
/* right icon */
header .bottom .right_icon {display: flex; align-items: center;}
header .bottom .right_icon .search_box {
    width: 250px; padding: 12px 16px; margin-right: 16px;
    display: flex; align-items: center;
    font-size: 0.875rem; border-radius: 5px; font-family: 'Roboto';
    background-color: #f5f5f5; color: #6e6e6e;
}
header .bottom .right_icon .search_box:hover {background-color: #e7e7e7;}
header .bottom .right_icon .search_box img {margin-right: 10px; width: 25px;}
/* 태블릿 용 */
header .bottom .right_icon .search {display: none;}
header .bottom .right_icon .search img {width: 23px;}
/* 검색 페이지 */
header .bottom .right_icon .search_bg {
    width: 100%; height: 100vh; z-index: 9998;
    position: fixed; left: 0; top: 100px;
    background-color: rgba(1, 1, 1, 0.8);
    transition: 0.5s;
}
header .bottom .right_icon .search_page {
    background-color: #fff; opacity: 0;
    transition: 0.5s;
}
header .bottom .right_icon .search_page .icon_search {
    padding: 16px; border-bottom: 1px solid #ddd;
    display: flex; justify-content: center; align-items: center;
}
header .bottom .right_icon .search_page .icon_search .back {display: none; width: 27px;}
header .bottom .right_icon .search_page .icon_search .back img {width: 100%;}
header .bottom .right_icon .search_page .icon_search #search_frm {}
header .bottom .right_icon .search_page .icon_search #search_frm fieldset {
    width: 350px; position: relative;
    background-color: #f5f5f5; border-radius: 5px; border: none;
}
header .bottom .right_icon .search_page .icon_search #search_frm fieldset .user_search {
    width: 100%; height: 44px;
    padding: 0 36px 0 43px;
    border: none; background: none;
    color: #6e6e6e; font-size: 0.875rem;
    font-family: 'Roboto'; border-radius: 5px;
}
header .bottom .right_icon .search_page .icon_search #search_frm fieldset img {
    position: absolute; left: 10px; top: 10px;
}
header .bottom .right_icon .search_page .icon_search #search_frm fieldset .user_search:hover {
    background-color: #e7e7e7;
}
header .bottom .right_icon .search_page .icon_search .close {
    width: 27px;
    position: absolute; right: 60px;
}
header .bottom .right_icon .search_page .icon_search .close img {width: 100%;}
header .bottom .right_icon .search_page .trending_searches {
    max-width: 1000px; margin: 0 auto;
    padding: 20px 0 16px 16px;
}
header .bottom .right_icon .search_page .trending_searches h3 {
    margin-bottom: 20px;
    font-size: 0.875rem; font-weight: 700;
}
header .bottom .right_icon .search_page .trending_searches .algorithm {display: flex; align-items: center;}
header .bottom .right_icon .search_page .trending_searches .algorithm img {width: 30px; margin: 0 8px 8px 0;}
header .bottom .right_icon .search_page .trending_searches .algorithm a {
    padding: 10px; margin: 0 8px 8px 0;
    font-size: 0.75rem; font-weight: 700; font-family: 'Roboto';
    background-color: #f5f5f5; border-radius: 5px;
}
/* wishlist, mypage, cart */
header .bottom .right_icon .wishlist {
    margin: 0 12px; position: relative;
}
header .bottom .right_icon .wishlist::after {
    content: ''; display: inline-block;
    position: absolute; bottom: -5px;
    width: 4px; height: 4px; border-radius: 50%;
    left: 50%;
    background: #007db5; transform: translateX(-50%);
}
header .bottom .right_icon .wishlist img {width: 23px;}
header .bottom .right_icon .mypage {margin: 0 12px;}
header .bottom .right_icon .mypage img {width: 23px;}
header .bottom .right_icon .cart {margin: 0 12px;}
header .bottom .right_icon .cart img {width: 23px;}
/* 장바구니 페이지 */
header .bottom .right_icon .cart_bg {
    width: 100%; height: 100vh; z-index: 9998;
    position: fixed; left: 0; top: 0;
    background-color: rgba(1, 1, 1, 0.8);
    opacity: 0; transition: 0.5s;
}
header .bottom .right_icon .cart_bg #closeBtn {
    position: absolute; border: none;
    background: none; right: 20px; top: 20px;
}
header .bottom .right_icon .cart_bg .cart_page {
    width: 500px; height: 100vh; text-align: center;
    display: flex; flex-flow: column nowrap;
    justify-content: center; align-items: center;
    background-color: #fff; transition: 0.5s;
    position: absolute; right: -500px;
}
header .bottom .right_icon .cart_bg .cart_page > h2 {
    font-weight: 700; padding: 24px 16px;
    font-size: 0.875rem; position: absolute; top: 0;
}
header .bottom .right_icon .cart_bg .cart_photo {margin-bottom: 20px;}
header .bottom .right_icon .cart_bg .cart_photo img {}
header .bottom .right_icon .cart_bg .cart_info {}
header .bottom .right_icon .cart_bg .cart_info h2 {
    margin-bottom: 8px;
    font-weight: 700;
}
header .bottom .right_icon .cart_bg .cart_info p {
    margin-bottom: 16px; color: #6e6e6e;
    font-size: 0.875rem; font-weight: 500; font-family: 'Roboto';
}
header .bottom .right_icon .cart_bg .cart_info a {
    width: 230px; padding: 15px 30px; margin: 0 auto 8px;
    display: flex; flex-flow: column nowrap;
    background-color: #000; border-radius: 30px;
    font-size: 0.875rem; font-weight: 700; color: #fff;
}
header .bottom .right_icon .cart_bg .cart_info a:hover {background-color: #222;}
/* 이벤트 */
header .swiper_event {
    height: 47px; overflow: hidden;
    background-color: #f5f5f5;
    width: 100%;
}
header .swiper_event .event_wrap {}
header .swiper_event .event_wrap a {
    font-size: 0.813rem; font-weight: 700;
    display: flex;
    justify-content: center; align-items: center;
}

/* footer */
footer {border-top: 1px solid #e7e7e7;}
/* footer top */
footer .top {
    display: flex; flex-flow: column nowrap; justify-content: space-between;
    height: 339px; padding: 30px 60px;
}
footer .top .help_blog {display: flex; justify-content: space-between;}
footer .top .help_blog .help {display: flex;}
footer .top .help_blog .help dl {width: 120px; margin-right: 60px;}
footer .top .help_blog .help dl dt {
    margin-bottom: 15px;
    font-size: 0.875rem; font-weight: 700;
}
footer .top .help_blog .help dl dd {margin-bottom: 10px;}
footer .top .help_blog .help dl dd a {
    font-size: 0.875rem; color: #53565a; font-weight: 500; font-family: 'Roboto';
}
footer .top .help_blog .help dl dd a:hover {color: #000;}
footer .top .help_blog .blog_email {
    width: 545px;
}
footer .top .help_blog .blog_email h3 {
    margin-bottom: 15px;
    font-size: 0.875rem; font-weight: 700;
}
footer .top .help_blog .blog_email .blog_email_link {display: flex;}
footer .top .help_blog .blog_email .blog_email_link a {
    margin-right: 10px; width: calc(100% / 3);
    display: flex; flex-flow: column nowrap;
}
footer .top .help_blog .blog_email .blog_email_link a:last-child {
    margin: 0;
}
footer .top .help_blog .blog_email .blog_email_link a img {width: 100%;}
footer .top .help_blog .blog_email .blog_email_link a span {
    width: 100%; padding: 6px 12px;
    background-color: #e7e7e7;
    font-size: 0.75rem; font-weight: 700;
}
footer .top .card_contents {display: flex; justify-content: space-between;}
footer .top .card_contents .card {width: 42px; display: flex;}
footer .top .card_contents .card img {width: 100%; margin-right: 10px;}
footer .top .card_contents .contents {}
footer .top .card_contents .contents a {margin-right: 20px;}
footer .top .card_contents .contents a img {}
/* footer bottom */
footer .bottom {
    padding: 15px 60px;
    display: flex; justify-content: space-between; align-items: center;
    border-top: 1px solid #ddd;
}
footer .bottom .copyright {
    font-size: 0.875rem; color: #444;
    letter-spacing: -0.5px; font-family: 'Roboto';
}
footer .bottom .bottom_info {display: flex;}
footer .bottom .bottom_info > a {
    margin-right: 20px; font-family: 'Roboto';
    font-size: 0.875rem; color: #53565a; font-weight: 500; letter-spacing: -0.5px;
}
footer .bottom .bottom_info > a:hover {color: #000;}
footer .bottom .bottom_info .lang_sel {position: relative;}
footer .bottom .bottom_info .lang_sel > a {
    margin: 0; padding-left: 10px;
    display: flex; align-items: center;
    font-size: 0.875rem; color: #53565a; font-weight: 500; letter-spacing: -0.5px;
    border-left: 1px solid #ddd; font-family: 'Roboto';
}
footer .bottom .bottom_info .lang_sel > a:hover {color: #000;}
footer .bottom .bottom_info .lang_sel > a img {width: 16px; margin-right: 5px;}
footer .bottom .bottom_info .lang_sel > a .more {margin-left: 5px;}
/* ROW 클릭 시 언어 선택 창 나옴 */
footer .bottom .bottom_info .lang_sel .lang {
    width: 250px; height: 300px;
    background-color: #fff; border-radius: 10px;
    position: absolute; bottom: 35px; right: 0;
    overflow-y: auto;
}
footer .bottom .bottom_info .lang_sel .lang li {padding: 20px 15px;}
footer .bottom .bottom_info .lang_sel .lang li:hover {background-color: #000;}
footer .bottom .bottom_info .lang_sel .lang li:hover a {color: #fff;}
footer .bottom .bottom_info .lang_sel .lang li a {
    display: flex; align-items: center;
    font-size: 0.875rem;
    font-family: 'Roboto';
}
footer .bottom .bottom_info .lang_sel .lang li a:hover {}
footer .bottom .bottom_info .lang_sel .lang li a img {width: 16px; margin-right: 10px;}