body {position: relative;}
/* chat icon */
#chat {
    width: 50px; height: 50px;
    display: flex; justify-content: center; align-items: center;
    background-color: #000;
    border-radius: 50%;
    position: fixed; right: 60px; bottom: 60px;}
#chat img {}

/* header */
/* header popup */
header {}
header .popup {
    height: 65px; padding: 0 16px;
    background-color: #000;
    display: flex; justify-content: center; align-items: center;
}
header .popup #lang_frm {}
header .popup #lang_frm fieldset {
    width: 1400px;
    display: flex; justify-content: center; align-items: center;
    border: none;
}
header .popup #lang_frm fieldset p {
    margin-right: 40px;
    color: #fff; font-size: 0.875rem; font-weight: 700;
}
header .popup #lang_frm fieldset .lang_sel {display: flex; justify-content: space-between;}
header .popup #lang_frm fieldset .lang_sel .lang_left {}
header .popup #lang_frm fieldset .lang_sel .lang_left > a {
    margin-right: 20px; padding: 5px 40px;
    border-radius: 5px;
    background-color: #2c2c2e; color: #fff;
}
header .popup #lang_frm fieldset .lang_sel .lang_left > a img {}
/* ROW 버튼 클릭 시 more 나옴 */
header .popup #lang_frm fieldset .lang_sel .lang_left > a .more {display: none;}
header .popup #lang_frm fieldset .lang_sel .lang_left .lang {display: none;}
header .popup #lang_frm fieldset .lang_sel .lang_left .lang li {}
header .popup #lang_frm fieldset .lang_sel .lang_left .lang li a {}
header .popup #lang_frm fieldset .lang_sel .lang_left .lang li a img {}
header .popup #lang_frm fieldset .lang_sel span {color: #fff; margin-right: 20px;}
header .popup #lang_frm fieldset .lang_sel .lang_right {}
header .popup #lang_frm fieldset .lang_sel .lang_right a {
    margin-right: 20px; padding: 5px 40px;
    border-radius: 5px;
    background-color: #2c2c2e; color: #fff;
}
header .popup #lang_frm fieldset .lang_sel .lang_right a img {}
/* ROW 버튼 클릭 시 ENGLISH로 변함 */
header .popup #lang_frm fieldset .lang_sel .lang_right span {display: none;}
header .popup #lang_frm fieldset #lang_sub {
    font-size: 0.875rem;
    padding: 8px 12px;
    border-radius: 20px;
}
header .popup > a {background-color: #fff;}
header .popup > a img {}

/* header top */
header .top {
    height: 35px; padding: 0 60px;
    background-color: #ebebeb;
    display: flex; justify-content: flex-end; align-items: center;
    position: relative;
}
header .top > a {
    height: 100%; padding: 0 10px;
    display: flex; align-items: center;
    font-size: 0.875rem;
    border-right: 1px solid #aaa; color: #53565a;
}
header .top > a:nth-of-type(6) {border: none;}
header .top > a .account {width: 13px; margin-right: 8px;}
header .top > a img {width: 16px;}
header .top > a .more {width: 12px;}
/* ROW 클릭 시 목록 나옴 */
header .top .lang {
    display: none;
    width: 250px; height: 300px;
    background-color: #fff;
    position: absolute; right: 70px; top: 40px;
    overflow-y: auto;
}
header .top .lang li {padding: 20px 15px;}
header .top .lang li a {font-size: 0.875rem;}
header .top .lang li a img {width: 16px; margin-right: 10px;}

/* header bottom */
/* left icon */
header .bottom {
    height: 69px; padding: 0 40px;
    display: flex; justify-content: space-between; align-items: center;
}
/* 태블릿 및 모바일 용 */
header .bottom .left_icon {display: none;}
header .bottom .left_icon a {}
header .bottom .left_icon a img {}
header .bottom h1 {width: 46px;}
header .bottom h1 a {}
header .bottom h1 a img {width: 100%;}
/* nav */
header .bottom nav {}
header .bottom nav .gnb {}
header .bottom nav .gnb li {display: inline-block;}
header .bottom nav .gnb li > a {
    font-weight: 700; font-size: 0.875rem;
    margin: 0 20px;
}
header .bottom nav .gnb li .women_category {
    width: 1449px; height: 400px;
    position: absolute; top: 169px; left: 0;
    display: flex;
}
header .bottom nav .gnb li .women_category .left {}
header .bottom nav .gnb li .women_category .left ul {}
header .bottom nav .gnb li .women_category .left ul li {}
header .bottom nav .gnb li .women_category .left ul li h3 {}
header .bottom nav .gnb li .women_category .left ul li a {}
header .bottom nav .gnb li .women_category .right {
    display: flex; flex-flow: column nowrap; justify-content: center; align-items: center;
}
header .bottom nav .gnb li .women_category .right .featured {}
header .bottom nav .gnb li .women_category .right .featured h3 {}
header .bottom nav .gnb li .women_category .right .featured .top {}
header .bottom nav .gnb li .women_category .right .featured .top a {position: relative;}
header .bottom nav .gnb li .women_category .right .featured .top a img {width: 200px;}
header .bottom nav .gnb li .women_category .right .featured .top span {position: absolute; bottom: 10px; left: 10px;}
header .bottom nav .gnb li .women_category .right .featured .bottom {}
header .bottom nav .gnb li .women_category .right .featured .bottom a {}
header .bottom nav .gnb li .women_category .right .featured .bottom a img {width: 200px;}
header .bottom nav .gnb li .women_category .right .featured .bottom span {}
header .bottom nav .gnb li .men_category {display: none;}
header .bottom nav .gnb li .men_category .left {}
header .bottom nav .gnb li .men_category .left ul {}
header .bottom nav .gnb li .men_category .left ul li {}
header .bottom nav .gnb li .men_category .left ul li h3 {}
header .bottom nav .gnb li .men_category .left ul li a {}
header .bottom nav .gnb li .men_category .right {}
header .bottom nav .gnb li .men_category .right .featured {}
header .bottom nav .gnb li .men_category .right .featured h3 {}
header .bottom nav .gnb li .men_category .right .featured .top {}
header .bottom nav .gnb li .men_category .right .featured .top a {}
header .bottom nav .gnb li .men_category .right .featured .top a img {}
header .bottom nav .gnb li .men_category .right .featured .top span {}
header .bottom nav .gnb li .men_category .right .featured .bottom {}
header .bottom nav .gnb li .men_category .right .featured .bottom a {}
header .bottom nav .gnb li .men_category .right .featured .bottom a img {}
header .bottom nav .gnb li .men_category .right .featured .bottom span {}
header .bottom nav .gnb li .acc_category {display: none;}
header .bottom nav .gnb li .acc_category .left {}
header .bottom nav .gnb li .acc_category .left ul {}
header .bottom nav .gnb li .acc_category .left ul li {}
header .bottom nav .gnb li .acc_category .left ul li h3 {}
header .bottom nav .gnb li .acc_category .left ul li a {}
header .bottom nav .gnb li .acc_category .right {}
header .bottom nav .gnb li .acc_category .right .featured {}
header .bottom nav .gnb li .acc_category .right .featured h3 {}
header .bottom nav .gnb li .acc_category .right .featured .bottom {}
header .bottom nav .gnb li .acc_category .right .featured .bottom a {}
header .bottom nav .gnb li .acc_category .right .featured .bottom a img {}
header .bottom nav .gnb li .acc_category .right .featured .bottom span {}
/* right icon */
header .bottom .right_icon {}
header .bottom .right_icon .search_box {
    width: 250px; padding: 12px 16px; margin-right: 16px;
    font-size: 0.875rem;
    background-color: #f5f5f5; color: #6e6e6e;
}
header .bottom .right_icon .search_box img {}
/* 태블릿 용 */
header .bottom .right_icon .search {display: none;}
header .bottom .right_icon .search img {}
/* 검색 창 */
header .bottom .right_icon .search_page {display: none;}
header .bottom .right_icon .search_page .back {}
header .bottom .right_icon .search_page #search_frm {}
header .bottom .right_icon .search_page #search_frm fieldset {}
header .bottom .right_icon .search_page #search_frm fieldset .user_search {}
header .bottom .right_icon .search_page .exit {}
header .bottom .right_icon .search_page .exit img {}
header .bottom .right_icon .search_page .trending_searches {}
header .bottom .right_icon .search_page .trending_searches h3 {}
header .bottom .right_icon .search_page .trending_searches .algorithm {}
header .bottom .right_icon .search_page .trending_searches .algorithm img {}
header .bottom .right_icon .search_page .trending_searches .algorithm a {}
/* wishlist, mypage, cart */
header .bottom .right_icon .wishlist {margin: 0 12px;}
header .bottom .right_icon .wishlist img {width: 23px;}
header .bottom .right_icon .mypage {margin: 0 12px;}
header .bottom .right_icon .mypage img {width: 23px;}
header .bottom .right_icon .cart {margin: 0 12px;}
header .bottom .right_icon .cart img {width: 23px;}
/* 장바구니 페이지 */
header .bottom .right_icon .cart_bg {display: none;}
header .bottom .right_icon .cart_bg .cart_page {}
header .bottom .right_icon .cart_bg .cart_photo {}
header .bottom .right_icon .cart_bg .cart_photo img {}
header .bottom .right_icon .cart_bg .cart_info {}
header .bottom .right_icon .cart_bg .cart_info h2 {}
header .bottom .right_icon .cart_bg .cart_info p {}
header .bottom .right_icon .cart_bg .cart_info a {}
/* 이벤트 */
header .event {
    display: flex; justify-content: center; align-items: center;
    height: 47px; background-color: #f5f5f5;
    font-size: 0.813rem; font-weight: 700;
}
/* 태블릿 및 모바일 메뉴 창 */
header .menu_m {}
header .menu_m .header_m {}
header .menu_m .top_m {}
header .menu_m .top_m .left_m {}
header .menu_m .top_m .left_m a {}
header .menu_m .top_m .left_m a img {}
header .menu_m .top_m .left_m .lang_m {}
header .menu_m .top_m .left_m .lang_m a {}
header .menu_m .top_m.left_m .lang_m a img {}
header .menu_m .top_m .left_m .lang_m .lang {}
header .menu_m .top_m.left_m .lang_m .lang li {}
header .menu_m .top_m .left_m .lang_m .lang li a {}
header .menu_m .top_m .left_m .lang_m .lang li a img {}
header .menu_m .top_m > a img {}