/* scroll bar */
/* Firefox */
html {scrollbar-width: 10px; height: 7px; scrollbar-color: #bbb #f1f1f1;}
/* Opera */
html::-o-scrollbar {width: 10px; height: 7px;}/*스크롤바 크기*/
html::-o-scrollbar-thumb {background-color: #bbb;border-radius: 5px;}/*스크롤 드래그바*/
/* Chrome, Safari, Edge 등 웹킷 기반 브라우저 */
::-webkit-scrollbar {width: 10px; height: 7px;}/*스크롤바 크기*/
/* ::-webkit-scrollbar-track {box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);}스크롤바 배경 */
::-webkit-scrollbar-thumb {background-color: #bbb;border-radius: 5px;}/*스크롤 드래그바*/

/* main */
main {}
/* main visual */
main .visual {
    height: 608px; padding: 200px 0 200px 100px;
    background-image: url(../images/visual.jpg);
    background-position: center;
    background-size: cover;
}
main .visual .text_button {width: 40%;}
main .visual .text_button h2 {
    font-size: 2.5rem; font-weight: 700;
    margin-bottom: 20px;
}
main .visual .text_button p {
    margin-bottom: 20px;
    font-family: 'Roboto'; color: #444;
}
main .visual .text_button a {
    display: inline-block;
    padding: 10px 30px; border-radius: 20px;
    background-color: #000; color: #fff;
    font-size: 0.875rem; font-weight: 700;
}
main .visual .text_button a:hover {background-color: #222;}
/* main recommend */
main .recommend {padding-top: 80px;}
main .recommend .title {margin: 0 60px 24px;}
main .recommend .title .cat {color: #444; margin-bottom: 8px; font-weight: 700;}
main .recommend .title .title_sub {display: flex; justify-content: space-between; align-items: flex-end;}
main .recommend .title .title_sub .title_view {display: flex; align-items: center;}
main .recommend .title .title_sub .title_view h2 {font-size: 1.5rem; font-weight: 700; margin-right: 20px;}
main .recommend .title .title_sub .title_view a {
    font-weight: 700; font-family: 'Roboto';
    border-bottom: 1px solid #000;
}
main .recommend .title .title_sub .title_view a:hover {color: #444; border-bottom: 1px solid #222;}
main .recommend .title .title_sub .move {
    display: flex;
}
main .recommend .title .title_sub .move a {
    display: flex; justify-content: center; align-items: center;
    width: 32px; height: 32px; margin-right: 10px;
    background-color: #e7e7e7; border-radius: 50%;
}
main .recommend .title .title_sub .move a:last-child {
    margin: 0;
    background-color: #000;
}
main .recommend .title .title_sub .move a img {width: 13px;}
main .recommend .recommend_product_wrap {
    overflow-y: hidden; overflow-x: auto; font-family: 'Roboto';
}
main .recommend .recommend_product_wrap .recommend_product {
    padding: 0 0 30px 60px;  width: calc(25% * 9);
    display: flex;
}
main .recommend .recommend_product_wrap .recommend_product li {
    width: max-content; margin-right: 10px;
    position: relative;
}
main .recommend .recommend_product_wrap .recommend_product li .photo {}
main .recommend .recommend_product_wrap .recommend_product li .photo img {width: 100%;}
main .recommend .recommend_product_wrap .recommend_product li .icon {}
main .recommend .recommend_product_wrap .recommend_product li .icon a {
    width: 32px; height: 32px;
    background-color: #fff; border-radius: 50%;
    display: flex; justify-content: center; align-items: center;
}
main .recommend .recommend_product_wrap .recommend_product li .icon a:first-child {
    display: none;
    position: absolute; top: 10px; left: 10px;
}
main .recommend .recommend_product_wrap .recommend_product li .icon a:last-child{position: absolute; top: 10px; right: 10px;}
main .recommend .recommend_product_wrap .recommend_product li .icon a img {width: 16px;}
main .recommend .recommend_product_wrap .recommend_product li .size {
    width: 100%; height: 30%;
    display: flex; flex-flow: row wrap; align-items: center;
    position: absolute; bottom: 95px;
    background-color: #f5f5f5; padding: 10px 10px;
}
main .recommend .recommend_product_wrap .recommend_product li .size a {
    display: inline-block; text-align: center;
    width: 20%; padding: 10px 10px; margin: 5px;
    background-color: #fff; font-size: 0.875rem;
}
main .recommend .recommend_product_wrap .recommend_product li .size a:hover {background-color: #000; color: #fff;}
main .recommend .recommend_product_wrap .recommend_product li .info {padding: 8px;}
main .recommend .recommend_product_wrap .recommend_product li .info .name_review {
    margin-bottom: 2px;
    display: flex; justify-content: space-between; align-items: center;
}
main .recommend .recommend_product_wrap .recommend_product li .info .name_review h3 {font-size: 0.875rem; color: #1b1b1b;}
main .recommend .recommend_product_wrap .recommend_product li .info .name_review span {
    display: flex; align-items: center;
    font-size: 0.75rem; color: #6e6e6e; font-weight: 700;
}
main .recommend .recommend_product_wrap .recommend_product li .info .name_review span img {width: 15px;}
main .recommend .recommend_product_wrap .recommend_product li .info p {
    margin-bottom: 2px;
    font-size: 0.875rem; color: #6e6e6e;
}
main .recommend .recommend_product_wrap .recommend_product li .info .price {}
/* main bnr */
main .bnr {
    margin-top: 80px; height: 608px; padding: 200px 0 200px 100px;
    background-image: url(../images/bnr_01.jpg);
    background-position: center;
    background-size: cover;
}
main .bnr .text_button {}
main .bnr .text_button h2 {margin-bottom: 20px;}
main .bnr .text_button h2 img {}
main .bnr .text_button p {margin-bottom: 20px; color: #fff; font-family: 'Roboto';}
main .bnr .text_button a {
    display: inline-block;
    padding: 10px 30px; border-radius: 20px;
    background-color: #fff; color: #000;
    font-size: 0.875rem; font-weight: 700;
}
main .bnr .text_button a:last-child {background-color: #53565a; color: #fff;}
main .bnr .text_button a:hover {background-color: #f5f5f5;}
main .bnr .text_button a:last-child:hover {background-color: #6e6e6e;}
/* main recommend second */
main .recommend_second {padding-top: 80px;}
main .recommend_second .title {margin: 0 60px 24px;}
main .recommend_second .title .title_sub {display: flex; justify-content: space-between; align-items: flex-end;}
main .recommend_second .title .title_sub .title_view {display: flex; align-items: center;}
main .recommend_second .title .title_sub .title_view h2 {font-size: 1.5rem; font-weight: 700; margin-right: 20px;}
main .recommend_second .title .title_sub .title_view a {
    font-weight: 700; border-bottom: 1px solid #000; font-family: 'Roboto';
}
main .recommend_second .title .title_sub .title_view a:hover {color: #444; border-bottom: 1px solid #222;}
main .recommend_second .title .title_sub .move {
    display: flex;
}
main .recommend_second .title .title_sub .move a {
    display: flex; justify-content: center; align-items: center;
    width: 32px; height: 32px; margin-right: 10px;
    background-color: #e7e7e7; border-radius: 50%;
}
main .recommend_second .title .title_sub .move a:last-child {
    margin: 0;
    background-color: #000;
}
main .recommend_second .title .title_sub .move a img {width: 13px;}
main .recommend_second .recommend_product_wrap {
    overflow-y: hidden; overflow-x: auto; font-family: 'Roboto';
}
main .recommend_second .recommend_product_wrap .recommend_product {
    padding: 0 0 30px 60px;  width: calc(25% * 9);
    display: flex;
}
main .recommend_second .recommend_product_wrap .recommend_product li {
    width: max-content; margin-right: 10px;
    position: relative;
}
main .recommend_second .recommend_product_wrap .recommend_product li .photo {}
main .recommend_second .recommend_product_wrap .recommend_product li .photo img {width: 100%;}
main .recommend_second .recommend_product_wrap .recommend_product li .icon {}
main .recommend_second .recommend_product_wrap .recommend_product li .icon a {
    width: 32px; height: 32px;
    background-color: #fff; border-radius: 50%;
    display: flex; justify-content: center; align-items: center;
}
main .recommend_second .recommend_product_wrap .recommend_product li .icon a:first-child {position: absolute; top: 10px; left: 10px;}
main .recommend_second .recommend_product_wrap .recommend_product li .icon a:last-child{position: absolute; top: 10px; right: 10px;}
main .recommend_second .recommend_product_wrap .recommend_product li .icon a img {width: 16px;}
main .recommend_second .recommend_product_wrap .recommend_product li .size {
    width: 100%; height: 30%;
    display: flex; flex-flow: row wrap; align-items: center;
    position: absolute; bottom: 95px;
    background-color: #f5f5f5; padding: 10px 10px;
}
main .recommend_second .recommend_product_wrap .recommend_product li .size a {
    display: inline-block; text-align: center;
    width: 20%; padding: 10px 10px; margin: 5px;
    background-color: #fff; font-size: 0.875rem;
}
main .recommend_second .recommend_product_wrap .recommend_product li .size a:hover {background-color: #000; color: #fff;}
main .recommend_second .recommend_product_wrap .recommend_product li .info {padding: 8px;}
main .recommend_second .recommend_product_wrap .recommend_product li .info .name_review {
    margin-bottom: 2px;
    display: flex; justify-content: space-between; align-items: center;
}
main .recommend_second .recommend_product_wrap .recommend_product li .info .name_review h3 {font-size: 0.875rem; color: #1b1b1b;}
main .recommend_second .recommend_product_wrap .recommend_product li .info .name_review span {
    display: flex; align-items: center;
    font-size: 0.75rem; color: #6e6e6e; font-weight: 700;
}
main .recommend_second .recommend_product_wrap .recommend_product li .info .name_review span img {width: 15px;}
main .recommend_second .recommend_product_wrap .recommend_product li .info p {
    margin-bottom: 2px;
    font-size: 0.875rem; color: #6e6e6e;
}
main .recommend_second .recommend_product_wrap .recommend_product li .info .price {}
/* main bnr second */
main .bnr_second {
    height: 608px; margin-top: 80px; padding: 200px 0 200px 100px;
    background-image: url(../images/bnr_02.jpg);
    background-position: center;
    background-size: cover;
}
main .bnr_second .text_button {}
main .bnr_second .text_button h2 {
    font-size: 2.5rem; font-weight: 700; color: #fff;
    margin-bottom: 20px;
}
main .bnr_second .text_button p {margin-bottom: 20px; color: #fff; font-family: 'Roboto';}
main .bnr_second .text_button a {
    display: inline-block;
    padding: 10px 30px; border-radius: 20px;
    background-color: #fff; color: #000;
    font-size: 0.875rem; font-weight: 700;
}
main .bnr_second .text_button a:hover {background-color: #f5f5f5;}
/* main recommend third */
main .recommend_third {padding-top: 80px;}
main .recommend_third .title {margin: 0 60px 24px;}
main .recommend_third .title .title_sub {display: flex; justify-content: space-between; align-items: flex-end;}
main .recommend_third .title .title_sub .title_view {display: flex; align-items: center;}
main .recommend_third .title .title_sub .title_view h2 {font-size: 1.5rem; font-weight: 700; margin-right: 20px;}
main .recommend_third .title .title_sub .title_view a {
    font-weight: 700; border-bottom: 1px solid #000; font-family: 'Roboto';
}
main .recommend_third .title .title_sub .title_view a:hover {color: #444; border-bottom: 1px solid #222;}
main .recommend_third .title .title_sub .move {
    display: flex;
}
main .recommend_third .title .title_sub .move a {
    display: flex; justify-content: center; align-items: center;
    width: 32px; height: 32px; margin-right: 10px;
    background-color: #e7e7e7; border-radius: 50%;
}
main .recommend_third .title .title_sub .move a:last-child {
    margin: 0;
    background-color: #000;
}
main .recommend_third .title .title_sub .move a img {width: 13px;}
main .recommend_third .recommend_product_wrap {
    overflow-y: hidden; overflow-x: auto; font-family: 'Roboto';
}
main .recommend_third .recommend_product_wrap .recommend_product {
    padding: 0 0 30px 60px;  width: calc(25% * 9);
    display: flex;
}
main .recommend_third .recommend_product_wrap .recommend_product li {
    width: max-content; margin-right: 10px;
    position: relative;
}
main .recommend_third .recommend_product_wrap .recommend_product li .photo {}
main .recommend_third .recommend_product_wrap .recommend_product li .photo img {width: 100%;}
main .recommend_third .recommend_product_wrap .recommend_product li .icon {}
main .recommend_third .recommend_product_wrap .recommend_product li .icon a {
    width: 32px; height: 32px;
    background-color: #fff; border-radius: 50%;
    display: flex; justify-content: center; align-items: center;
}
main .recommend_third .recommend_product_wrap .recommend_product li .icon a:first-child {position: absolute; top: 10px; left: 10px;}
main .recommend_third .recommend_product_wrap .recommend_product li .icon a:last-child{position: absolute; top: 10px; right: 10px;}
main .recommend_third .recommend_product_wrap .recommend_product li .icon a img {width: 16px;}
main .recommend_third .recommend_product_wrap .recommend_product li .size {
    width: 100%; height: 30%;
    display: flex; flex-flow: row wrap; align-items: center;
    position: absolute; bottom: 95px;
    background-color: #f5f5f5; padding: 10px 10px;
}
main .recommend_third .recommend_product_wrap .recommend_product li .size a {
    display: inline-block; text-align: center;
    width: 20%; padding: 10px 10px; margin: 5px;
    background-color: #fff; font-size: 0.875rem;
}
main .recommend_third .recommend_product_wrap .recommend_product li .size a:hover {background-color: #000; color: #fff;}
main .recommend_third .recommend_product_wrap .recommend_product li .info {padding: 8px;}
main .recommend_third .recommend_product_wrap .recommend_product li .info .name_review {
    margin-bottom: 2px;
    display: flex; justify-content: space-between; align-items: center;
}
main .recommend_third .recommend_product_wrap .recommend_product li .info .name_review h3 {font-size: 0.875rem; color: #1b1b1b;}
main .recommend_third .recommend_product_wrap .recommend_product li .info .name_review span {
    display: flex; align-items: center;
    font-size: 0.75rem; color: #6e6e6e; font-weight: 700;
}
main .recommend_third .recommend_product_wrap .recommend_product li .info .name_review span img {width: 15px;}
main .recommend_third .recommend_product_wrap .recommend_product li .info p {
    margin-bottom: 2px;
    font-size: 0.875rem; color: #6e6e6e;
}
main .recommend_third .recommend_product_wrap .recommend_product li .info .price {}
/* main bnr third */
main .bnr_third {
    height: 608px; margin-top: 80px; padding: 200px 0 200px 100px;
    background-image: url(../images/bnr_03.jpg);
    background-position: center;
    background-size: cover;
}
main .bnr_third .text_button {}
main .bnr_third .text_button h2 {
    font-size: 2.5rem; font-weight: 700; color: #fff;
    margin-bottom: 20px;
}
main .bnr_third .text_button p {margin-bottom: 20px; color: #fff;}
main .bnr_third .text_button a {
    display: inline-block;
    padding: 10px 30px; border-radius: 20px;
    background-color: #fff; color: #000;
    font-size: 0.875rem; font-weight: 700;
}
main .bnr_third .text_button a:last-child {background-color: #53565a; color: #fff;}
main .bnr_third .text_button a:hover {background-color: #f5f5f5;}
main .bnr_third .text_button a:last-child:hover {background-color: #6e6e6e;}
/* main recommend fourth */
main .recommend_fourth {padding-top: 80px;}
main .recommend_fourth .title {margin: 0 60px 24px;}
main .recommend_fourth .title .title_sub {display: flex; justify-content: space-between; align-items: flex-end;}
main .recommend_fourth .title .title_sub .title_view {display: flex; align-items: center;}
main .recommend_fourth .title .title_sub .title_view h2 {font-size: 1.5rem; font-weight: 700; margin-right: 20px;}
main .recommend_fourth .title .title_sub .title_view a {
    font-weight: 700; border-bottom: 1px solid #000; font-family: 'Roboto';
}
main .recommend_fourth .title .title_sub .title_view a:hover {color: #444; border-bottom: 1px solid #222;}
main .recommend_fourth .title .title_sub .move {
    display: flex;
}
main .recommend_fourth .title .title_sub .move a {
    display: flex; justify-content: center; align-items: center;
    width: 32px; height: 32px; margin-right: 10px;
    background-color: #e7e7e7; border-radius: 50%;
}
main .recommend_fourth .title .title_sub .move a:last-child {
    margin: 0;
    background-color: #000;
}
main .recommend_fourth .title .title_sub .move a img {width: 13px;}
main .recommend_fourth .recommend_product_wrap {
    overflow-y: hidden; overflow-x: auto; font-family: 'Roboto';
}
main .recommend_fourth .recommend_product_wrap .recommend_product {
    padding: 0 0 30px 60px;  width: calc(25% * 9);
    display: flex;
}
main .recommend_fourth .recommend_product_wrap .recommend_product li {
    width: max-content; margin-right: 10px;
    position: relative;
}
main .recommend_fourth .recommend_product_wrap .recommend_product li .photo {}
main .recommend_fourth .recommend_product_wrap .recommend_product li .photo img {width: 100%;}
main .recommend_fourth .recommend_product_wrap .recommend_product li .icon {}
main .recommend_fourth .recommend_product_wrap .recommend_product li .icon a {
    width: 32px; height: 32px;
    background-color: #fff; border-radius: 50%;
    display: flex; justify-content: center; align-items: center;
}
main .recommend_fourth .recommend_product_wrap .recommend_product li .icon a:first-child {position: absolute; top: 10px; left: 10px;}
main .recommend_fourth .recommend_product_wrap .recommend_product li .icon a:last-child{position: absolute; top: 10px; right: 10px;}
main .recommend_fourth .recommend_product_wrap .recommend_product li .icon a img {width: 16px;}
main .recommend_fourth .recommend_product_wrap .recommend_product li .size {
    width: 100%; height: 30%;
    display: flex; flex-flow: row wrap; align-items: center;
    position: absolute; bottom: 95px;
    background-color: #f5f5f5; padding: 10px 10px;
}
main .recommend_fourth .recommend_product_wrap .recommend_product li .size a {
    display: inline-block; text-align: center;
    width: 20%; padding: 10px 10px; margin: 5px;
    background-color: #fff; font-size: 0.875rem;
}
main .recommend_fourth .recommend_product_wrap .recommend_product li .size a:hover {background-color: #000; color: #fff;}
main .recommend_fourth .recommend_product_wrap .recommend_product li .info {padding: 8px;}
main .recommend_fourth .recommend_product_wrap .recommend_product li .info .name_review {
    margin-bottom: 2px;
    display: flex; justify-content: space-between; align-items: center;
}
main .recommend_fourth .recommend_product_wrap .recommend_product li .info .name_review h3 {font-size: 0.875rem; color: #1b1b1b;}
main .recommend_fourth .recommend_product_wrap .recommend_product li .info .name_review span {
    display: flex; align-items: center;
    font-size: 0.75rem; color: #6e6e6e; font-weight: 700;
}
main .recommend_fourth .recommend_product_wrap .recommend_product li .info .name_review span img {width: 15px;}
main .recommend_fourth .recommend_product_wrap .recommend_product li .info p {
    margin-bottom: 2px;
    font-size: 0.875rem; color: #6e6e6e;
}
main .recommend_fourth .recommend_product_wrap .recommend_product li .info .price {}
/* bnr fourth */
main .bnr_fourth {
    height: 570px; margin-top: 80px; padding-top: 200px;
    background-image: url(../images/bnr_04.jpg);
    background-position: center;
    background-size: cover;
}
main .bnr_fourth .text_button {text-align: center;}
main .bnr_fourth .text_button h2 {
    font-size: 2.5rem; font-weight: 700;
    margin-bottom: 20px;
}
main .bnr_fourth .text_button p {margin-bottom: 20px;}
main .bnr_fourth .text_button a {
    display: inline-block;
    padding: 10px 30px; border-radius: 20px;
    background-color: #000; color: #fff;
    font-size: 0.875rem; font-weight: 700;
}
main .bnr_fourth .text_button a:last-child {background-color: #53565a; color: #fff;}
main .bnr_fourth .text_button a:hover {background-color: #222;}
main .bnr_fourth .text_button a:last-child:hover {background-color: #6e6e6e;}
/* recommend fifth */
main .recommend_fifth {padding-top: 80px;}
main .recommend_fifth .title {margin: 0 60px 24px;}
main .recommend_fifth .title .title_sub {display: flex; justify-content: space-between; align-items: flex-end;}
main .recommend_fifth .title .title_sub .title_view {display: flex; align-items: center;}
main .recommend_fifth .title .title_sub .title_view h2 {font-size: 1.5rem; font-weight: 700; margin-right: 20px;}
main .recommend_fifth .title .title_sub .title_view a {
    font-weight: 700; border-bottom: 1px solid #000; font-family: 'Roboto';
}
main .recommend_fifth .title .title_sub .title_view a:hover {color: #444; border-bottom: 1px solid #222;}
main .recommend_fifth .title .title_sub .move {
    display: flex;
}
main .recommend_fifth .title .title_sub .move a {
    display: flex; justify-content: center; align-items: center;
    width: 32px; height: 32px; margin-right: 10px;
    background-color: #e7e7e7; border-radius: 50%;
}
main .recommend_fifth .title .title_sub .move a:last-child {
    margin: 0;
    background-color: #000;
}
main .recommend_fifth .title .title_sub .move a img {width: 13px;}
main .recommend_fifth .recommend_product_wrap {
    overflow-y: hidden; overflow-x: auto; font-family: 'Roboto';
}
main .recommend_fifth .recommend_product_wrap .recommend_product {
    padding: 0 0 30px 60px;  width: calc(25% * 9);
    display: flex;
}
main .recommend_fifth .recommend_product_wrap .recommend_product li {
    width: max-content; margin-right: 10px;
    position: relative;
}
main .recommend_fifth .recommend_product_wrap .recommend_product li .photo {}
main .recommend_fifth .recommend_product_wrap .recommend_product li .photo img {width: 100%;}
main .recommend_fifth .recommend_product_wrap .recommend_product li .icon {}
main .recommend_fifth .recommend_product_wrap .recommend_product li .icon a {
    width: 32px; height: 32px;
    background-color: #fff; border-radius: 50%;
    display: flex; justify-content: center; align-items: center;
}
main .recommend_fifth .recommend_product_wrap .recommend_product li .icon a:first-child {position: absolute; top: 10px; left: 10px;}
main .recommend_fifth .recommend_product_wrap .recommend_product li .icon a:last-child{position: absolute; top: 10px; right: 10px;}
main .recommend_fifth .recommend_product_wrap .recommend_product li .icon a img {width: 16px;}
main .recommend_fifth .recommend_product_wrap .recommend_product li .size {
    width: 100%; height: 30%;
    display: flex; flex-flow: row wrap; align-items: center;
    position: absolute; bottom: 95px;
    background-color: #f5f5f5; padding: 10px 10px;
}
main .recommend_fifth .recommend_product_wrap .recommend_product li .size a {
    display: inline-block; text-align: center;
    width: 20%; padding: 10px 10px; margin: 5px;
    background-color: #fff; font-size: 0.875rem;
}
main .recommend_fifth .recommend_product_wrap .recommend_product li .size a:hover {background-color: #000; color: #fff;}
main .recommend_fifth .recommend_product_wrap .recommend_product li .info {padding: 8px;}
main .recommend_fifth .recommend_product_wrap .recommend_product li .info .name_review {
    margin-bottom: 2px;
    display: flex; justify-content: space-between; align-items: center;
}
main .recommend_fifth .recommend_product_wrap .recommend_product li .info .name_review h3 {font-size: 0.875rem; color: #1b1b1b;}
main .recommend_fifth .recommend_product_wrap .recommend_product li .info .name_review span {
    display: flex; align-items: center;
    font-size: 0.75rem; color: #6e6e6e; font-weight: 700;
}
main .recommend_fifth .recommend_product_wrap .recommend_product li .info .name_review span img {width: 15px;}
main .recommend_fifth .recommend_product_wrap .recommend_product li .info p {
    margin-bottom: 2px;
    font-size: 0.875rem; color: #6e6e6e;
}
main .recommend_fifth .recommend_product_wrap .recommend_product li .info .price {}
/* main bnr fifth */
main .bnr_fifth {
    height: 608px; margin-top: 80px;
    background-image: url(../images/gymshark66_01.jpg);
    background-position: center;
    background-size: cover;
    display: flex; flex-flow: column nowrap; justify-content: center; align-items: center;
}
main .bnr_fifth p {margin-bottom: 20px; font-family: 'Roboto';}
main .bnr_fifth a {
    display: inline-block;
    padding: 10px 30px; border-radius: 20px;
    background-color: #000; color: #fff;
    font-size: 0.875rem; font-weight: 700;
}
main .bnr_fifth a:hover {background-color: #222;}
/* main app */
main .app {padding: 80px 60px 110px;}
main .app h2 {
    margin-bottom: 20px;
    font-size: 1.5rem; font-weight: 700;
}
main .app .app_link {display: flex; justify-content: space-around; align-items: center;}
main .app .app_link .app_left {width: 50%; position: relative; margin-right: 10px;}
main .app .app_link .app_left img {width: 100%;}
main .app .app_link .app_left .app_info {position: absolute; bottom: 20px; left: 20px;}
main .app .app_link .app_left .app_info h3 {
    margin-bottom: 20px; color: #fff;
    font-size: 1.5rem; font-weight: 700;
}
main .app .app_link .app_left .app_info p {margin-bottom: 20px; color: #fff; font-family: 'Roboto';}
main .app .app_link .app_left .app_info a {
    display: inline-block;
    padding: 10px 30px; border-radius: 20px;
    background-color: #fff; color: #000;
    font-size: 0.875rem; font-weight: 700;
}
main .app .app_link .app_left .app_info a:hover {background-color: #f5f5f5;}
main .app .app_link .app_right {width: 50%; position: relative;}
main .app .app_link .app_right img {width: 100%;}
main .app .app_link .app_right .app_info {position: absolute; bottom: 20px; left: 20px;}
main .app .app_link .app_right .app_info h3 {
    margin-bottom: 20px; color: #fff;
    font-size: 1.5rem; font-weight: 700;
}
main .app .app_link .app_right .app_info p {margin-bottom: 20px; color: #fff; font-family: 'Roboto';}
main .app .app_link .app_right .app_info a {
    display: inline-block;
    padding: 10px 30px; border-radius: 20px;
    background-color: #fff; color: #000;
    font-size: 0.875rem; font-weight: 700;
}
main .app .app_link .app_right .app_info a:hover {background-color: #f5f5f5;}
/* main photo cat */
main .photo_cat {
    padding: 80px 60px 110px; height: 850px;
    display: flex; justify-content: center; align-items: center;
}
main .photo_cat .photo_button {
    width: 33%; margin-right: 10px;
    position: relative;
}
main .photo_cat .photo_button img {width: 100%; border-radius: 5px;}
main .photo_cat .photo_button a {
    display: inline-block;
    position: absolute; bottom: 20px; left: 20px;
    padding: 10px 30px; border-radius: 20px;
    background-color: #fff; color: #000;
    font-size: 0.875rem; font-weight: 700;
}
main .photo_cat .photo_button a:hover {background-color: #f5f5f5;}
/* main trending collections */
main .trending_collections {
    padding: 80px 60px 40px 60px;
    display: flex; justify-content: space-between;
}
main .trending_collections li {width: 25%; margin-bottom: 10px;}
main .trending_collections li h3 {
    font-size: 1.125rem; font-weight: 700;
    margin-bottom: 16px;
}
main .trending_collections li ul {}
main .trending_collections li ul li {}
main .trending_collections li ul li a {
    font-size: 0.875rem; color: #444;
    font-family: 'Roboto'; font-weight: 500;
}
/* main company info */
main .company_info {
    padding: 40px 60px 80px;
    border-bottom: 1px solid #ddd;
}
main .company_info p {
    font-size: 0.875rem; color: #444;
    margin-bottom: 16px; font-family: 'Roboto';
}
main .company_info p:first-child {
    border-top: 1px solid #ddd;
    padding-top: 40px;
}
main .company_info p a {font-size: 0.875rem; font-weight: 700;}
main .company_info h3 {
    font-size: 1.25rem; font-weight: 700;
    margin-bottom: 16px;
}