@media screen and (max-width:1440px){
    header .bottom .right_icon .search_box {display: none;}
    header .bottom .right_icon .search {
        display: block; margin: 0 12px;
    }
}

@media screen and (max-width:1200px){
    footer .bottom .copyright {font-size: 0.75rem;}
    footer .bottom .bottom_info > a {font-size: 0.75rem;}
}

@media screen and (max-width:1024px){
    /* header */
    header .popup {
        height: 151px;
        flex-flow: column nowrap; align-items: flex-start;
    }
    header .popup #lang_frm {width: 100%;}
    header .popup #lang_frm fieldset {
        flex-flow: column nowrap; align-items: flex-start;
    }
    header .popup #lang_frm fieldset p {margin: 0 0 20px;}
    header .popup #lang_frm fieldset .lang_sel {width: 100%; margin-bottom: 20px;}
    header .popup #lang_frm fieldset .lang_sel .lang_left {width: calc(50% - 50px);}
    header .popup #lang_frm fieldset .lang_sel .lang_left a {justify-content: center;}
    header .popup #lang_frm fieldset .lang_sel .lang_right {width: calc(50% - 50px);}
    header .popup #lang_frm fieldset .lang_sel .lang_right a {
        margin: 0; justify-content: center;
    }
    header .popup #lang_frm fieldset #lang_sub {width: 100%;}
    header .popup .close {
        width: 24px;
        position: absolute; top: 10px;
    }
    header .top {display: none; position: relative;}
    header .bottom {padding: 0 24px;}
    header .bottom .left_icon {display: flex;}
    header .bottom nav {display: none;}
    header .bottom .right_icon .search {display: none;}
    header .bottom .right_icon .wishlist {display: none;}
    /* 장바구니 페이지 */
    header .bottom .right_icon .cart_bg {display: none;}

    /* main */
    main .visual .text_button h2 {font-size: 1.563rem;}
    main .recommend .recommend_product_wrap .recommend_product {width: calc(25% * 12);}
    main .recommend .recommend_product_wrap .recommend_product li .size {display: none;}
    main .company_info {border: none;}

    /* footer */
    footer .top {padding: 30px 30px;}
    footer .top .help_blog {flex-flow: column nowrap;}
    footer .top .help_blog .help {flex-flow: column nowrap;}
    footer .top .help_blog .help dl {
        width: 100%; margin: 0; padding: 20px;
        border-top: 1px solid #ddd;
    }
    footer .top .help_blog .help dl dt {margin: 0;}
    footer .top .help_blog .help dl dd {display: none;}
    footer .top .help_blog .blog_email h3 {margin: 0; padding: 20px;}
    footer .top .help_blog .blog_email .blog_email_link {justify-content: center;}
    footer .top .help_blog .blog_email .blog_email_link a {width: 33%;}
    footer .top .card_contents {flex-flow: column-reverse nowrap;}
    footer .bottom {flex-flow: column-reverse nowrap;}
}

@media screen and (max-width:768px){
    /* main */
    main .visual {
        height: 850px; padding: 0 20px;
        position: relative;
        background-image: url(../images/visual_m.jpg);
    }
    main .visual .text_button {
        width: calc(100% - 40px);
        position: absolute; bottom: 50px;
    }
    main .visual .text_button h2 {color: #fff;}
    main .visual .text_button p {color: #fff;}
    main .visual .text_button a {
        width: 100%; text-align: center;
        background-color: #fff; color: #000;
    }
    main .bnr {
        height: 608px; padding: 0 20px;
        position: relative;
        background-image: url(../images/bnr_01_m.jpg);
    }
    main .bnr .text_button {
        width: calc(100% - 40px);
        position: absolute; bottom: 50px;
    }
    main .bnr .text_button a {
        width: 100%; text-align: center; margin-bottom: 10px;
    }
    main .bnr_second {
        height: 850px; padding: 0 20px;
        position: relative;
        background-image: url(../images/bnr_02_m.jpg);
    }
    main .bnr_second .text_button {
        width: calc(100% - 40px);
        position: absolute; bottom: 50px;
    }
    main .bnr_second .text_button a {
        width: 100%; text-align: center;
        background-color: #fff; color: #000;
    }

    main .bnr_third {
        height: 850px; padding: 0 20px;
        position: relative;
        background-image: url(../images/bnr_03_m.jpg);
    }
    main .bnr_third .text_button {
        width: calc(100% - 40px);
        position: absolute; bottom: 50px;
    }
    main .bnr_third .text_button a {
        width: 100%; text-align: center; margin-bottom: 10px;
        background-color: #fff; color: #000;
    }
    main .bnr_fourth {
        height: 850px; padding: 0 20px;
        position: relative;
        background-image: url(../images/bnr_04_m.jpg);
    }
    main .bnr_fourth .text_button {
        width: calc(100% - 40px);
        position: absolute; bottom: 50px;
    }
    main .bnr_fourth .text_button h2 {color: #fff;}
    main .bnr_fourth .text_button p {color: #fff;}
    main .bnr_fourth .text_button a {
        width: 100%; text-align: center; margin-bottom: 10px;
    }
    main .bnr_fifth {
        height: 850px; padding: 0 20px 40px;
        background-image: url(../images/gymshark66_02.jpg);
        justify-content: flex-end;
    }
    main .bnr_fifth p {color: #fff;}
    main .bnr_fifth a {
        width: 100%; text-align: center; margin-bottom: 10px;
    }
    main .app .app_link {flex-flow: column nowrap;}
    main .photo_cat {flex-flow: column nowrap;}
    main .trending_collections {flex-flow: column nowrap;}

    /* footer */
    footer .top .help_blog .help {display: none;}
    footer .top .help_blog .help_m {display: block;}
}