@media screen and (max-width:1440px){
    header .bottom .right_icon .search_box {display: none;}
    header .bottom .right_icon .search {
        display: block; margin: 0 12px;
    }
    header .bottom .right_icon .search img {width: 23px;}
}

@media screen and (max-width:1024px){
    /* header */
    header .popup {
        height: 151px;
        flex-flow: column nowrap; align-items: flex-start;
    }
    header .popup #lang_frm {width: 100%;}
    header .popup #lang_frm fieldset {
        flex-flow: column nowrap; align-items: flex-start;
    }
    header .popup #lang_frm fieldset p {margin: 0 0 20px;}
    header .popup #lang_frm fieldset .lang_sel {width: 100%; margin-bottom: 20px;}
    header .popup #lang_frm fieldset .lang_sel .lang_left {width: calc(50% - 50px);}
    header .popup #lang_frm fieldset .lang_sel .lang_left a {justify-content: center;}
    header .popup #lang_frm fieldset .lang_sel .lang_right {width: calc(50% - 50px);}
    header .popup #lang_frm fieldset .lang_sel .lang_right a {
        margin: 0; justify-content: center;
    }
    header .popup #lang_frm fieldset #lang_sub {width: 100%;}
    header .popup .close {
        width: 24px;
        position: absolute; top: 10px;
    }
    header .top {display: none; position: relative;}
    header .bottom .left_icon {display: flex;}
    header .bottom .left_icon a {margin: 0 12px;}
    header .bottom .left_icon a img {width: 23px;}
    header .bottom nav {display: none;}
    header .bottom .right_icon .search {display: none;}
    header .bottom .right_icon .wishlist {display: none;}
    /* 장바구니 페이지 */
    header .bottom .right_icon .cart_bg {display: none;}
}

@media screen and (max-width:768px){

}