/* main */
main {}
main .title {
    padding: 13px 60px;
}
main .title h2 {
    font-weight: 700;
}
main .title h2 span {
    font-size: 0.75rem; font-family: 'Roboto';
    color: #6e6e6e; margin-left: 8px;
}

/* 모바일 필터 */
.filter_m {
    padding: 16px 30px; display: none;
    justify-content: flex-end;
}
.filter_m .layout {
    width: 50%; height: 44px;
    background: #e7e7e7; border-radius: 50px;
    display: none; justify-content: space-between;
    position: relative;
}
.filter_m a {
    width: 50%; display: flex; z-index: 1;
    justify-content: center; align-items: center;
}
.filter_m .layout_ball {
    position: absolute; left: 5px; top: 5px;
    background: #fff; width: 50%;
    transition: 0.5s;
    border-radius: 50px; height: 34px;
}
.filter_m #filterBtn {
    padding: 14px 30px; background: #e7e7e7;
    border-radius: 50px; border: none;
    font-size: 0.75rem; font-weight: 700;
    display: flex; align-items: center;
    height: 44px; justify-content: center;
}
.filter_m #filterBtn:hover {
    filter: brightness(105%);
}
.filter_m #filterBtn img {
    margin-right: 5px;
}

/* 상품 페이지 */
main .product_page {
    display: flex; justify-content: space-between;
    padding: 0 60px;
}
/* 필터 */
main .product_page .filter {
    width: 240px; height: 807px;
    overflow-y: scroll;
    overflow-x: hidden;
}
main .product_page .filter > a {
    width: 190px; padding: 26px 0;
    display: flex; justify-content: space-between;
    border-bottom: 1px solid #e7e7e7;
}
main .product_page .filter > a h2 {font-size: 0.875rem; font-weight: 700;}
main .product_page .filter > a span {
    font-family: 'Roboto';
    font-size: 0.875rem; color: #bbbcbc;
}
main .product_page .filter .sort_by {
    width: 190px;
}
main .product_page .filter .sort_by > a {
    width: 100%; padding: 24px 0;
    display: flex; justify-content: space-between;
    border-bottom: 1px solid #e7e7e7;
}
main .product_page .filter .sort_by a h2 {font-size: 0.875rem; font-weight: 700;}
main .product_page .filter .sort_by a img {}
main .product_page .filter .sort_by .select_sort {
    display: flex; flex-flow: column nowrap;
}
main .product_page .filter .sort_by .select_sort label {
    display: flex; align-items: center; position: relative;
    font-family: 'Roboto'; font-size: 0.875rem; height: 35px;
    color: #444; padding-left: 32px; margin-bottom: 12px;
}
main .product_page .filter .sort_by .select_sort input {
    display: none;
}
main .product_page .filter .sort_by .select_sort label::before {
    content: ''; border: 1px solid #aaa; border-radius: 50%;
    width: 22px; height: 22px; display: inline-block;
    position: absolute; left: 0; top: 50%;
    transform: translateY(-50%);
}
main .product_page .filter .sort_by .select_sort label::after {
    content: ''; background: #000; border-radius: 50%;
    width: 10px; height: 10px; display: none;
    position: absolute; left: 7px; top: 50%;
    transform: translateY(-50%);
}
main .product_page .filter .sort_by .select_sort input:checked + label::after {
    display: inline-block;
}
main .product_page .filter .product_type {width: 190px;}
main .product_page .filter .product_type a:first-child {
    padding: 24px 0;
    display: flex; justify-content: space-between;
    border-bottom: 1px solid #e7e7e7;
}
main .product_page .filter .product_type a h2 {font-size: 0.875rem; font-weight: 700;}
main .product_page .filter .product_type a img {}
main .product_page .filter .product_type a:last-child {
    margin-bottom: 32px; height: 43px; border: 1px solid #bbbcbc;
    justify-content: center; align-items: center;
    font-size: 0.875rem; font-family: 'Roboto'; color: #444;
}
main .product_page .filter .size {width: 190px;}
main .product_page .filter .size > a {
    padding: 24px 0;
    display: flex; justify-content: space-between;
    border-bottom: 1px solid #e7e7e7;
}
main .product_page .filter .size a h2 {font-size: 0.875rem; font-weight: 700;}
main .product_page .filter .size a img {}
main .product_page .filter .size .select_size {
    flex-flow: row wrap; justify-content: space-between;
}
main .product_page .filter .size .select_size a {
    margin-bottom: 8px; width: calc(33% - 5px); height: 43px;
    border: 1px solid #bbbcbc;
    display: flex; justify-content: center; align-items: center;
    font-size: 0.875rem; font-family: 'Roboto'; color: #444;
}
main .product_page .filter .features {width: 190px;}
main .product_page .filter .features a:first-child {
    padding: 24px 0;
    display: flex; justify-content: space-between;
    border-bottom: 1px solid #e7e7e7;
}
main .product_page .filter .features a h2 {font-size: 0.875rem; font-weight: 700;}
main .product_page .filter .features a img {}
main .product_page .filter .features a:last-child {
    margin-bottom: 32px; height: 43px; border: 1px solid #bbbcbc;
    justify-content: center; align-items: center;
    font-size: 0.875rem; font-family: 'Roboto'; color: #444;
}
main .product_page .filter .fit {width: 190px;}
main .product_page .filter .fit > a {
    padding: 24px 0;
    display: flex; justify-content: space-between;
    border-bottom: 1px solid #e7e7e7;
}
main .product_page .filter .fit a h2 {font-size: 0.875rem; font-weight: 700;}
main .product_page .filter .fit a img {}
main .product_page .filter .fit .select_fit {}
main .product_page .filter .fit .select_fit a {
    margin-bottom: 8px; height: 43px; border: 1px solid #bbbcbc;
    justify-content: center; align-items: center; display: flex;
    font-size: 0.875rem; font-family: 'Roboto'; color: #444;
}
main .product_page .filter .fit .select_fit a:last-child {margin-bottom: 32px;}
main .product_page .filter .collection {width: 190px;}
main .product_page .filter .collection > a {
    padding: 24px 0;
    display: flex; justify-content: space-between;
    border-bottom: 1px solid #e7e7e7;
}
main .product_page .filter .collection a h2 {font-size: 0.875rem; font-weight: 700;}
main .product_page .filter .collection a img {}
main .product_page .filter .collection .select_collection {}
main .product_page .filter .collection .select_collection a {
    margin-bottom: 8px; height: 43px; border: 1px solid #bbbcbc;
    justify-content: center; align-items: center; display: flex;
    font-size: 0.875rem; font-family: 'Roboto'; color: #444;
}
main .product_page .filter .collection .select_collection a:last-child {margin-bottom: 32px;}
main .product_page .filter .color {width: 190px;}
main .product_page .filter .color > a {
    padding: 24px 0;
    display: flex; justify-content: space-between;
    border-bottom: 1px solid #e7e7e7;
}
main .product_page .filter .color a h2 {font-size: 0.875rem; font-weight: 700;}
main .product_page .filter .color a img {}
main .product_page .filter .color .select_color {}
main .product_page .filter .color .select_color a {
    margin-right: 10px;
}
main .product_page .filter .color .select_color .black {
    background: #000; width: 50px; height: 50px;
    border-radius: 50%;
}
main .product_page .filter .color .select_color .red {
    background: #f00; width: 50px; height: 50px;
    border-radius: 50%;
}
main .product_page .filter .color .select_color .yellow {
    background: #ff0; width: 50px; height: 50px;
    border-radius: 50%;
}
main .product_page .filter .color .select_color a:hover {
    transform: scale(0.9);
}
main .product_page .filter .pattern {width: 190px;}
main .product_page .filter .pattern > a {
    padding: 24px 0;
    display: flex; justify-content: space-between;
    border-bottom: 1px solid #e7e7e7;
}
main .product_page .filter .pattern > a h2 {font-size: 0.875rem; font-weight: 700;}
main .product_page .filter .pattern > a img {}
main .product_page .filter .pattern .select_pattern {}
main .product_page .filter .pattern .select_pattern a {
    margin-right: 10px;
}
main .product_page .filter .pattern .select_pattern a:hover {
    transform: scale(0.9);
}
main .product_page .filter .pattern .select_pattern a img {}
main .product_page .filter .discount {width: 190px;}
main .product_page .filter .discount > a {
    padding: 24px 0;
    display: flex; justify-content: space-between;
    border-bottom: 1px solid #e7e7e7;
}
main .product_page .filter .discount a h2 {font-size: 0.875rem; font-weight: 700;}
main .product_page .filter .discount a img {}
main .product_page .filter .discount .select_discount {
    display: flex; flex-flow: row wrap; justify-content: space-between;
}
main .product_page .filter .discount .select_discount a {
    margin-bottom: 8px; width: calc(50% - 5px); height: 43px;
    border: 1px solid #bbbcbc;
    display: flex; justify-content: center; align-items: center;
    font-size: 0.875rem; font-family: 'Roboto'; color: #444;
}
main .product_page .filter .discount .select_discount a:last-child {margin-bottom: 32px;}
main .product_page .filter .price {width: 190px;}
main .product_page .filter .price > a {
    padding: 24px 0;
    display: flex; justify-content: space-between;
}
main .product_page .filter .price a h2 {font-size: 0.875rem; font-weight: 700;}
main .product_page .filter .price a img {}
main .product_page .filter .price .select_price {
    display: flex; flex-flow: row wrap; justify-content: space-between;
}
main .product_page .filter .price .select_price a {
    margin-bottom: 8px; width: calc(50% - 5px); height: 43px;
    border: 1px solid #bbbcbc; text-align: center;
    display: flex; justify-content: center; align-items: center;
    font-size: 0.875rem; font-family: 'Roboto'; color: #444;
}
main .product_page .filter .price .select_price a:last-child {margin-bottom: 32px;}
/* 상품 */

main .product_page .product_wrap {
    font-family: 'Roboto'; margin-left: 20px;
    width: calc(100% - 240px);
}
main .product_page .product_wrap .product {
    display: flex; flex-flow: row wrap;
    width: 100%;
}
main .product_page .product_wrap .product li {
    width: calc(100% / 5 - 10px); margin: 0 10px 20px 0;
    position: relative; cursor: pointer;
}
main .product_page .product_wrap .product li .product_image {
    position: relative; width: 100%;
    overflow: hidden;
}
main .product_page .product_wrap .product li .product_image > img {
    width: 100%;
}
main .product_page .product_wrap .product li .product_image .icon {
    padding: 0 10px;
    position: absolute; top: 10px; width: 100%;
    display: flex; justify-content: space-between;
}
main .product_page .product_wrap .product li .product_image .icon a {
    width: 32px; height: 32px;
    display: flex; justify-content: center; align-items: center;
    border-radius: 50%; background: #fff;
    position: absolute; right: 10px;
}
main .product_page .product_wrap .product li .product_image .icon a img {
    width: 16px;
}
main .product_page .product_wrap .product li .product_image .size a:hover {
    background: #000; color: #fff;
}
main .product_page .product_wrap .product li .product_info {
    padding: 8px;
}
main .product_page .product_wrap .product li .product_info h3 {
    font-family: 'Roboto'; font-size: 0.875rem;
    margin-top: 2px; display: flex;
    justify-content: space-between;
    align-items: center;
}
main .product_page .product_wrap .product li .product_info h3 span {
    font-size: 0.75rem; font-family: 'Roboto';
    display: flex; align-items: center;
}
main .product_page .product_wrap .product li .product_info h3 span img {
    width: 15px;
}
main .product_page .product_wrap .product li .product_info .color {
    font-family: 'Roboto'; font-size: 0.875rem;
    margin-top: 2px; color: #6e6e6e;
}
main .product_page .product_wrap .product li .product_info .price {
    font-family: 'Roboto'; font-size: 0.875rem;
    margin-top: 2px; font-weight: 700;
}
main .product_page .product_wrap .product li .product_info .size {
    width: 100%; display: flex; justify-content: space-between;
    position: relative; align-items: center;
}
main .product_page .product_wrap .product li .product_info .size .size_select {
    width: calc(100% - 54px); border-radius: 5px; height: 44px;
    border: 1px solid #ccc; padding: 0 12px; display: flex;
}
main .product_page .product_wrap .product li .product_info .size .size_select .result_select {
    display: flex; align-items: center; justify-content: space-between;
    width: 100%;
}
main .product_page .product_wrap .product li .product_info .size .size_select .result_select span {
    font-family: 'Roboto'; font-size: 0.875rem;
}
main .product_page .product_wrap .product li .product_info .size .size_select .result_select img {}
main .product_page .product_wrap .product li .product_info .size .size_select .select_box {
    width: 200px; height: 300px;
    position: absolute; bottom: 50px; border-radius: 5px;
    left: 0;
    background: #fff; padding: 10px; overflow: scroll;
}
main .product_page .product_wrap .product li .product_info .size .size_select .select_box a {
    display: block; padding: 20px 10px; font-family: 'Roboto';
    font-size: 0.875rem; border-radius: 5px;
}
main .product_page .product_wrap .product li .product_info .size .size_select .select_box a:hover {
    background: #000; color: #fff;
}
main .product_page .product_wrap .product li .product_info .size .cart_icon {
    width: 44px; height: 44px; border-radius: 50%;
    background: #007db5; border: none;
}
main .product_page .product_wrap .product li .product_info .size .cart_icon img {}